<div class="container">
  <div class="email-template-wrapper">
            <!-- <p-select
          [options]="allClients"
          [(ngModel)]="selectedClient"
          name="client"
          id="client"
          class="form-field"
          optionLabel="fullName"
        /> -->
  </div>
  <div class="header">
    <div class="header-cell">
      <p class="title flex-center">Nadawca</p>
      <p class="email">{{ senderEmail }}</p>
    </div>
    <div class="header-cell">
      <p class="title flex-center">Odbiorca</p>
      <p class="email">{{ newEmail.to }}</p>
    </div>
    <div class="header-cell">
      <p class="title flex-center">Temat</p>
      <p class="email">{{ newEmail.subject }}</p>
    </div>
  </div>
  <div class="content-container">
    <div class="editor">
      <label for="message" class="label-edit">Edytuj treść wiadomości</label>
      <textarea
        id="message"
        [(ngModel)]="emailMessage"
        (ngModelChange)="onMessageChange($event)"
        rows="5"
      ></textarea>
    </div>

    <div class="preview-container">
      <label class="label-preview">Podgląd treści wiadomości</label>

      <div class="footer">
        <i
          class="pi pi-send"
          (click)="sendEmail()"
          pTooltip="Wyślij e-mail"
        ></i>
      </div>

      <iframe #iframeRef class="email-preview-iframe"></iframe>
    </div>
  </div>
</div>
