.container {
  width: 100%;
  border: 1px solid var(--accent-color-13);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header p {
  margin: 0;
}

.header-cell {
  display: grid;
  grid-template-columns: 110px auto;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--accent-color-13);
}

.title {
  font-size: 1.8rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color-13);
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.email {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color-03);
}

.content-container {
  width: 100%;
}

.editor {
  width: 100%;
  height: 300px;
}

label {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 1.5rem;
}

.label-edit {
  color: var(--error-color);
  background-color: var(--accent-color-20);
}

.label-preview {
  color: var(--secondary-color);
  background-color: var(--accent-color-13);
  position: relative;
}

textarea {
  all: unset !important;
  padding: 10px !important;
  width: calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  resize: none;
  border: none;
  background-color: var(--edit-color) !important;
}

.preview-container {
  position: relative;
  width: 100%;
}

.footer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--accent-color-13);
}

.footer i {
  font-size: 3rem;
  color: var(--secondary-color);
}

.footer i:hover {
  color: var(--error-color);
}

.email-preview-iframe {
  width: 100%;
  height: 600px;
  border: none;
}
