.thumbnail-wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail-wrapper:hover .overlay-wrapper {
  opacity: 1;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.icon-overlay {
  z-index: 2;
  font-size: 80px !important;
  color: var(--accent-color);
}
