.container {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.set-header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color-13);
  color: var(--secondary-color);
  padding: 20px 40px;
}

.set-header-cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

.set-header-title {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.set-header-value {
  font-size: 2rem;
}

.comments {
  margin: 2rem 0;
}

.position-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.position-info {
  font-size: 2.2rem;
  padding: 1rem 0.75rem;
  color: var(--accent-color-10);
}

.link-to-position i {
  color: var(--accent-color-10);
  font-size: 2.4rem;
}

.new-comments {
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 999;
  font-size: 1.4rem;
  align-self: end;
  color: var(--error-color);
}

.history-back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: var(--accent-color-13);
}

.history-back i {
  color: var(--accent-color-03);
  font-size: 2rem;
}

.history-back i:hover {
  color: var(--error-color);
}
