.comments-to-set-container {
  width: var(--screen-width);
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 40px;
}

.comments-to-set-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 10px 0;
}

.comments-to-set-position-info-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 700px;
  gap: 10px;
  border: 2px solid var(--burgund-color-15);
  border-radius: 20px;
  padding: 16px;
}

.comments-to-set-product-name-wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  font-size: 3rem;
  font-weight: 700;
  color: var(--burgund-color-15);
}

.comments-to-set-product-name {
  text-align: left;
}

.comments-to-set-img-wrapper {
  width: 100%;
}

.comments-to-set-img {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.comments-to-set-img img {
  max-width: 95%;
  max-height: 95%;
  object-fit: contain !important;
  border-radius: 10px;
  border: 2px solid var(--burgund-color-15) !important;
}

.comments-to-set-img-wrapper i {
  height: 300px;
  font-size: 150px;
  color: var(--neutral-color-05);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.product-details {
  display: flex;
  gap: 15px;
  width: 100%;
  height: 100px;
  padding: 0 15px;
}

.product-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
  width: 100%;
}

.product-title {
  color: var(--primary);
  font-size: 1.2rem;
}

.product-name {
  font-size: 2rem;
  color: var(--burgund-color-12);
}

.status-wrapper {
  border-radius: 10px;
}
