<ng-container *ngIf="positionsWithComments.length > 0; else noComments">
  <div
    class="comments-to-set-wrapper"
    *ngFor="let pos of positionsWithComments"
  >
    <div class="comments-to-set-position-info-wrapper">
      <div class="comments-to-set-product-name-wrapper">
        <p>
          {{ pos.position.kolejnosc }}
        </p>
        <div class="comments-to-set-product-name" *ngIf="pos.position.produkt">
          {{ pos.position.produkt }}
        </div>
      </div>

      <div class="comments-to-set-img-wrapper">
        <a
          href="{{ pos.position.link }}"
          target="_blank"
          class="comments-to-set-product-link"
        >
          <div class="comments-to-set-img" *ngIf="pos.position.image">
            <img [src]="getImagePreviewUrl(pos.position)" alt="image" />
          </div>
        </a>
        <i
          class="pi pi-image"
          *ngIf="!pos.position.image"
          pTooltip="Brak obrazu"
        ></i>
      </div>
      <!-- GROUP - PRODUCENT DOSTAWCA LINK-->
      <div class="product-details">
        <!-- PRODUCENT -->
        <div class="product-group">
          <div class="product-title">PRODUCENT</div>
          <div class="product-name">{{ pos.position.producent }}</div>
        </div>
        <!-- DOSTAWCA -->
        <div class="product-group">
          <div class="product-title">DOSTAWCA</div>
          <div class="product-name">
            {{
              pos.position.supplierId ? pos.position.supplierId["company"] : ""
            }}
          </div>
        </div>
        <!-- STATUS  -->
        <div
          class="product-group status-wrapper"
          [class]="getStatusCss(pos.position.status)"
        >
          <div class="product-title">STATUS</div>
          <div class="product-name">
            {{ getStatusLabel(pos.position.status) }}
          </div>
        </div>
      </div>
      <!-- GROUP - KOLEKCJA NR KATALOGOWY KOLOR-->
      <div class="product-details">
        <!-- KOLEKCJA -->
        <div class="product-group">
          <div class="product-title">KOLEKCJA</div>
          <div class="product-name">{{ pos.position.kolekcja }}</div>
        </div>
        <!-- NR KATALOGOWY -->
        <div class="product-group">
          <div class="product-title">NR KATALOGOWY</div>
          <div class="product-name">{{ pos.position.nrKatalogowy }}</div>
        </div>
        <!-- KOLOR -->
        <div class="product-group">
          <div class="product-title">KOLOR</div>
          <div class="product-name">{{ pos.position.kolor }}</div>
        </div>
      </div>
      <!-- GROUP - ILOŚĆ CENA BRUTTO WARTOŚĆ BRUTTO -->
      <div class="product-details">
        <!-- ILOŚĆ -->
        <div class="product-group">
          <div class="product-title">ILOŚĆ</div>
          <div class="product-name">
            {{ pos.position.ilosc | number: "1.2-2" }}
          </div>
        </div>
        <!-- CENA BRUTTO -->
        <div class="product-group">
          <div class="product-title">CENA BRUTTO</div>
          <div class="product-name">
            {{
              pos.position.brutto
                ? (pos.position.brutto | number: "1.2-2") + " PLN"
                : ""
            }}
          </div>
        </div>
        <!-- WARTOŚĆ BRUTTO -->
        <div class="product-group">
          <div class="product-title">WARTOŚĆ BRUTTO</div>
          <div class="product-name">
            {{
              pos.position.wartoscBrutto
                ? (pos.position.wartoscBrutto | number: "1.2-2") + " PLN"
                : ""
            }}
          </div>
        </div>
      </div>
    </div>
    <!-- COMMENTS  -->
    <div class="comments-wrapper">
      <app-comments
        [positionId]="pos.position.id"
        [set]="set"
        [comments]="pos.comments"
        [commentWatcher]="'user'"
      />
    </div>
  </div>
</ng-container>

<ng-template #noComments>
  <div class="no-comments-wrapper flex-center">
    <i class="pi pi-comments"></i>
    <p>Brak komentarzy dla tej zakładki.</p>
  </div>
</ng-template>
