<div class="container">
  <div class="set-header-wrapper flex-center" *ngIf="set">
    <div class="set-header-cell">
      <div class="set-header-title">Zestawienie</div>
      <div class="set-header-value">{{ set.name }}</div>
    </div>
    <div class="history-back" (click)="back()" pTooltip="Powrót">
      <i class="pi pi-times"></i>
    </div>
    <div class="set-header-cell">
      <div class="set-header-title">Klient</div>
      <div class="set-header-value">
        {{
          set.clientId.company
            ? set.clientId.company
            : set.clientId.firstName + " " + set.clientId.lastName
        }}
      </div>
    </div>
  </div>
  <div class="comments" *ngFor="let pos of positionsWithComments$ | async">
    <div class="position-info-wrapper">
      <div class="position-info">
        {{ pos.position.bookmarkId.name }}: Pozycja {{ pos.position.kolejnosc }}
        <span *ngIf="pos.position.produkt"> - {{ pos.position.produkt }}</span>
      </div>
      <a
        class="link-to-position"
        [routerLink]="['/sets', set.id]"
        [queryParams]="{
          bookmark: pos.position.bookmarkId.id,
          position: pos.position.kolejnosc
        }"
      >
        <i class="pi pi-arrow-right" pTooltip="Pokaż pozycję"></i>
      </a>
      <div class="new-comments" *ngIf="pos.newComments !== 0">
        Liczba nieprzeczytanych komentarzy: {{ pos.newComments }}
      </div>
    </div>

    <app-comments
      [positionId]="pos.position.id"
      [setId]="setId"
      [comments]="pos.comments"
      [isUser]="true"
    />
  </div>
</div>
