<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner [size]="200"></app-loading-spinner>
</div>

<div *ngIf="!isLoading" class="card">
  <p-toolbar>
    <ng-template #start>
      <p-button
        severity="primary"
        label="Nowy"
        icon="pi pi-plus"
        size="large"
        alt="Dodaj nowego klienta"
        pTooltip="Dodaj nowego klienta"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Usuń"
        icon="pi pi-trash"
        class="m-6"
        size="large"
        alt="Usuń zaznaczonych klientów"
        pTooltip="Usuń zaznaczonych klientów"
        (onClick)="deleteSelectedClient()"
        [disabled]="!selected || !selected.length"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="clients"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="[
      'company',
      'firstName',
      'lastName',
      'email',
      'telephone'
    ]"
    [tableStyle]="{ 'min-width': '115rem' }"
    [(selection)]="selected"
    [rowHover]="true"
    dataKey="id"
    stripedRows
  >
    <ng-template #caption>
      <div class="search-wrapper">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            class="search-input"
            pTooltip="Filtruj klientów"
            (input)="onGlobalFilter($event)"
            placeholder="Firma, adres, imię, nazwisko, email, telefon"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox pTooltip="Zaznacz wszystkich" />
        </th>
        <th style="width: 10rem"></th>
        <th pSortableColumn="firstName" style="min-width: 8rem">
          Imię
          <p-sortIcon field="firstName" />
        </th>
        <th pSortableColumn="lastName" style="min-width: 8rem">
          Nazwisko
          <p-sortIcon field="lastName" />
        </th>
        <th pSortableColumn="email" style="min-width: 8rem">
          E-mail
          <p-sortIcon field="email" />
        </th>
        <th pSortableColumn="telephone" style="min-width: 6rem">
          Telefon
          <p-sortIcon field="telephone" />
        </th>
        <th pSortableColumn="company" style="min-width: 16rem">
          Firma
          <p-sortIcon field="company" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-client let-index="rowIndex">
      <tr class="row" (click)="editClient(client)">
        <td style="width: 3rem" (click)="$event.stopPropagation()">
          <p-tableCheckbox
            [value]="client"
            pTooltip="Zaznacz klienta"
            [disabled]="getClientSetCount(client.id) !== 0"
          />
        </td>
        <td (click)="$event.stopPropagation()">
          <p-button
            icon="pi pi-pencil"
            class="m-4"
            alt="Edytuj klienta"
            pTooltip="Edytuj klienta"
            (click)="editClient(client)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            class="m-4"
            alt="Usuń klienta"
            pTooltip="{{
              getClientSetCount(client.id) !== 0
                ? 'Klient ma zestawienie'
                : 'Usuń klienta'
            }}"
            [disabled]="getClientSetCount(client.id) !== 0"
            (click)="deleteClient(client)"
          />
        </td>
        <td style="min-width: 8rem">
          {{ client.firstName }}
        </td>
        <td style="min-width: 12rem">
          {{ client.lastName }}
        </td>
        <td style="min-width: 12rem">
          {{ client.email }}
        </td>
        <td style="min-width: 10rem">
          {{ client.telephone }}
        </td>
        <td style="min-width: 16rem">
          {{ client.company }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="clientDialog"
    [style]="{ width: '750px' }"
    header="{{ clientDialogHeader }}"
    [modal]="true"
  >
    <ng-template #content>
      <form [formGroup]="form">
        <div class="new-client-wrapper">
          <div class="field">
            <label for="company">Firma</label>
            <textarea
              rows="5"
              pTextarea
              fluid
              formControlName="company"
            ></textarea>
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['company'].invalid &&
                  form.controls['company'].touched
                "
              ></div>
            </div>
          </div>
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="firstName">Imię</label>
            <input
              type="text"
              pInputText
              id="firstName"
              formControlName="firstName"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['firstName'].invalid &&
                  form.controls['firstName'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['firstName'].errors?.['required']"
                  >Imię jest wymagane.</span
                >
              </div>
            </div>
          </div>
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="lastName">Nazwisko</label>
            <input
              type="text"
              pInputText
              id="lastName"
              formControlName="lastName"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['lastName'].invalid &&
                  form.controls['lastName'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['lastName'].errors?.['required']"
                  >Nazwisko jest wymagane.</span
                >
              </div>
            </div>
          </div>
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="email">E-mail</label>
            <input
              type="email"
              pInputText
              id="email"
              formControlName="email"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['email'].invalid &&
                  form.controls['email'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['email'].errors?.['required']"
                  >E-mail jest wymagany.</span
                >
                <span
                  class="error"
                  *ngIf="form.controls['email'].errors?.['email']"
                  >Niepoprawny format adresu e-mail.</span
                >
              </div>
            </div>
          </div>
          <div class="field">
            <label for="telephone">Telefon</label>
            <input
              type="text"
              pInputText
              id="telephone"
              formControlName="telephone"
              fluid
            />
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #footer>
      <p-button
        label="Anuluj"
        icon="pi pi-times"
        text
        (click)="hideDialog()"
        size="large"
      />
      <p-button
        label="Zapisz"
        icon="pi pi-check"
        (click)="saveClient()"
        size="large"
      />
    </ng-template>
  </p-dialog>
</div>
