<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner [size]="200"></app-loading-spinner>
</div>

<div *ngIf="!isLoading" class="card">
  <p-toolbar>
    <ng-template #start>
      <p-button
        severity="primary"
        label="Nowy"
        icon="pi pi-plus"
        size="large"
        alt="Dodaj nowego klienta"
        pTooltip="Dodaj nowego klienta"
        tooltipPosition="bottom"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Usuń"
        icon="pi pi-trash"
        class="m-6"
        size="large"
        alt="Usuń zaznaczonych klientów"
        pTooltip="Usuń zaznaczonych klientów"
        tooltipPosition="bottom"
        (onClick)="deleteSelectedClient()"
        [disabled]="!selected || !selected.length"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="clients"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="[
      'company',
      'firstName',
      'lastName',
      'email',
      'telephone',
    ]"
    [tableStyle]="{ 'min-width': '115rem' }"
    [(selection)]="selected"
    [rowHover]="true"
    dataKey="id"
    stripedRows
  >
    <ng-template #caption>
      <div class="search-wrapper">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            class="search-input"
            pTooltip="Filtruj klientów"
            (input)="onGlobalFilter($event)"
            placeholder="Firma, adres, imię, nazwisko, email, telefon"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox
            pTooltip="Zaznacz wszystkich"
            tooltipPosition="bottom"
          />
        </th>
        <th style="width: 10rem"></th>
        <th style="width: 5rem"></th>
        <th pSortableColumn="firstName" style="min-width: 10rem">
          Imię
          <p-sortIcon field="firstName" />
        </th>
        <th pSortableColumn="lastName" style="min-width: 12rem">
          Nazwisko
          <p-sortIcon field="lastName" />
        </th>
        <th pSortableColumn="email" style="min-width: 10rem">
          E-mail
          <p-sortIcon field="email" />
        </th>
        <th pSortableColumn="email" style="min-width: 10rem">
          Dodatkowy e-mail
          <p-sortIcon field="email" />
        </th>
        <th pSortableColumn="telephone" style="min-width: 6rem">
          Telefon
          <p-sortIcon field="telephone" />
        </th>
        <th pSortableColumn="company">
          Firma
          <p-sortIcon field="company" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-client let-index="rowIndex">
      <tr class="row" (click)="editClient(client)">
        <td style="width: 3rem" (click)="$event.stopPropagation()">
          <p-tableCheckbox
            [value]="client"
            pTooltip="Zaznacz klienta"
            tooltipPosition="bottom"
            [disabled]="getClientSetCount(client.id) !== 0"
          />
        </td>
        <td (click)="$event.stopPropagation()">
          <p-button
            icon="pi pi-pencil"
            class="m-4"
            alt="Edytuj klienta"
            pTooltip="Edytuj klienta"
            tooltipPosition="bottom"
            positionTop="5"
            (click)="editClient(client)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            class="m-4"
            alt="Usuń klienta"
            [pTooltip]="
              getClientSetCount(client.id) !== 0
                ? 'Klient ma zestawienie'
                : 'Usuń klienta'
            "
            tooltipPosition="bottom"
            positionTop="5"
            [disabled]="getClientSetCount(client.id) !== 0"
            (click)="deleteClient(client)"
          />
        </td>
        <td pTooltip="Edytuj klienta" tooltipPosition="bottom">
          <div class="flex-center" *ngIf="getAvatarUrl(client.avatar)">
            <img
              [src]="getAvatarUrl(client.avatar)"
              alt="avatar"
              class="avatar-image-mini"
            />
          </div>
        </td>
        <td
          style="min-width: 8rem"
          pTooltip="Edytuj klienta"
          tooltipPosition="bottom"
          positionLeft="-60"
        >
          {{ client.firstName }}
        </td>
        <td
          style="min-width: 12rem"
          pTooltip="Edytuj klienta"
          tooltipPosition="bottom"
          positionLeft="-60"
        >
          {{ client.lastName }}
        </td>
        <td
          style="min-width: 12rem"
          pTooltip="Kliknij, aby skopiować email"
          tooltipPosition="bottom"
          positionLeft="-100"
          (click)="handleCopy($event, client.email, 'Email')"
        >
          {{ client.email }}
        </td>
        <td
          style="min-width: 12rem"
          pTooltip="Kliknij, aby skopiować email"
          tooltipPosition="bottom"
          positionLeft="-100"
          (click)="handleCopy($event, client.secondEmail, 'Email')"
        >
          {{ client.secondEmail }}
        </td>
        <td
          style="min-width: 10rem"
          [pTooltip]="
            client.telephone
              ? 'Kliknij, aby skopiować telefon'
              : 'Edytuj klienta'
          "
          tooltipPosition="bottom"
          positionLeft="-60"
          (click)="handleCopy($event, client.telephone, 'Telefon')"
        >
          {{ client.telephone }}
        </td>
        <td
          style="min-width: 16rem"
          [pTooltip]="
            client.company ? 'Kliknij, aby skopiować firmę' : 'Edytuj klienta'
          "
          tooltipPosition="bottom"
          positionLeft="-250"
          (click)="handleCopy($event, client.company, 'Firma')"
        >
          {{ client.company }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="clientDialog"
    [style]="{ width: '750px' }"
    header="{{ clientDialogHeader }}"
    [modal]="true"
    [dismissableMask]="true"
  >
    <ng-template #content>
      <form [formGroup]="form">
        <div class="new-client-wrapper">
          <!-- FIRST NAME  -->
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="firstName">Imię</label>
            <input
              type="text"
              pInputText
              id="firstName"
              formControlName="firstName"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['firstName'].invalid &&
                  form.controls['firstName'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['firstName'].errors?.['required']"
                  >Imię jest wymagane.</span
                >
              </div>
            </div>
          </div>
          <!-- LAST NAME  -->
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="lastName">Nazwisko</label>
            <input
              type="text"
              pInputText
              id="lastName"
              formControlName="lastName"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['lastName'].invalid &&
                  form.controls['lastName'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['lastName'].errors?.['required']"
                  >Nazwisko jest wymagane.</span
                >
              </div>
            </div>
          </div>
          <!-- E-MAIL  -->
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="email">E-mail</label>
            <input
              type="email"
              pInputText
              id="email"
              formControlName="email"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['email'].invalid &&
                  form.controls['email'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['email'].errors?.['required']"
                  >E-mail jest wymagany.</span
                >
                <span
                  class="error"
                  *ngIf="form.controls['email'].errors?.['email']"
                  >Niepoprawny format adresu e-mail.</span
                >
              </div>
            </div>
          </div>
          <!-- SECOND E-MAIL  -->
          <div class="field">
            <label for="secondEmail">Dodatkowy e-mail</label>
            <input
              type="text"
              pInputText
              id="secondEmail"
              formControlName="secondEmail"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['secondEmail'].invalid &&
                  form.controls['secondEmail'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['secondEmail'].errors?.['email']"
                  >Niepoprawny format adresu e-mail.</span
                >
              </div>
            </div>
          </div>
          <!-- TELEPHONE  -->
          <div class="field">
            <label for="telephone">Telefon</label>
            <input
              type="text"
              pInputText
              id="telephone"
              formControlName="telephone"
              fluid
            />
            <div class="error-container"></div>
          </div>
          <!-- COMPANY  -->
          <div class="field">
            <label for="company">Firma</label>
            <textarea
              rows="5"
              pTextarea
              fluid
              formControlName="company"
            ></textarea>
          </div>
          <!-- AVATAR  -->
          <div class="field">
            <label for="avatar">Avatar</label>
            <div class="avatar-wrapper">
              <div *ngFor="let avatar of avatars">
                <img
                  alt="avatar"
                  class="cursor-pointer avatar-image"
                  [src]="getAvatarUrl(avatar)"
                  (click)="pickClientAvatar(avatar)"
                  [ngClass]="{
                    'selected-avatar':
                      form.controls['avatar'].value?.fileName ===
                      avatar.fileName,
                  }"
                />
              </div>
            </div>
          </div>
        </div>
        <input
          type="hidden"
          pInputText
          id="setCount"
          formControlName="setCount"
          fluid
        />
      </form>
    </ng-template>

    <ng-template #footer>
      <p-button
        label="Anuluj"
        icon="pi pi-times"
        text
        (click)="hideDialog()"
        size="large"
      />
      <p-button
        [disabled]="!form.valid"
        label="Zapisz"
        icon="pi pi-check"
        (click)="saveClient()"
        size="large"
      />
    </ng-template>
  </p-dialog>
</div>
