.card {
  width: var(--screen-width);
}

::ng-deep .p-toolbar {
  width: var(--screen-width);
}

tr {
  cursor: pointer;
  font-size: 1.8rem;
}

.total {
  position: absolute;
  font-size: 1.4rem;
  bottom: 0;
  left: 0;
}

.error {
  color: var(--error-color);
  font-size: 1.6rem;
}

.error-container {
  height: 35px;
}

label {
  margin: 20px 0 10px 0;
  display: block;
  color: var(--accent-color-10);
  font-size: 1.6rem;
}

.search-wrapper {
  position: absolute;
  top: -47px;
  left: 200px;
  display: flex;
}

.new-client-wrapper {
  font-size: 3rem;
  padding: 0 10px;
  margin: 0 30px;
}

.field {
  position: relative;
  width: 633px !important;
}

i {
  position: absolute;
  cursor: default;
  top: 10px;
  right: -10px;
  color: var(--error-color);
  font-size: 16px;
}

.p-inputtext {
  all: unset !important;
  padding: 8px 16px !important;
  font-size: 2rem !important;
  border: 1px solid var(--accent-color-13) !important;
  width: 600px !important;
}

.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active,
.p-textarea:focus,
.p-textarea:hover,
.p-textarea:active {
  background-color: var(--accent-color-03) !important;
}

.search-input {
  display: flex !important;
  font-size: 1rem !important;
  padding: 8px 24px !important;
  font-weight: normal !important;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  width: 300px !important;
  color: rgb(0, 0, 0) !important;
}

.p-textarea {
  resize: none;
  border-radius: 0px;
  background-color: white !important;
  padding: 8px 16px !important;
  font-size: 2rem !important;
  border: 1px solid var(--accent-color-13) !important;
}

.p-textarea.p-variant-filled {
  background-image: none !important;
}
