.card {
  width: var(--screen-width);
  margin: 12px auto;
}

::ng-deep .p-toolbar.p-component {
  background-color: var(--neutral-color-02) !important;
}

::ng-deep .p-dialog.p-component {
  display: flex !important;
  align-items: space-between !important;
  justify-content: center !important;
}

::ng-deep .p-dialog-header {
  padding: 0;
  margin: 12px 24px 12px 30px;
}

::ng-deep .p-dialog-title {
  padding: 0;
  margin: 0;
  color: var(--accent-color-10) !important;
}

::ng-deep .p-dialog-content {
  padding: 0 30px !important;
  margin: 0 !important;
  width: 100%;
}

::ng-deep .p-toolbar {
  width: var(--screen-width);
}

tr {
  cursor: pointer;
  font-size: 1.8rem;
}

.total {
  position: absolute;
  font-size: 1.4rem;
  bottom: 0;
  left: 0;
}

.error {
  color: var(--error-color);
  font-size: 1.6rem;
}

.error-container {
  height: 35px;
}

label {
  margin: 20px 0 12px 0;
  display: block;
  color: var(--accent-color-06);
  font-size: 1.6rem;
}

.search-wrapper {
  position: absolute;
  top: -47px;
  left: 200px;
  display: flex;
}

.new-client-wrapper {
  font-size: 3rem;
}

.field {
  position: relative;
  width: 682px !important;
}

i {
  position: absolute;
  cursor: default;
  top: 10px;
  right: -10px;
  color: var(--burgund-color-06);
  font-size: 14px;
}

.p-inputtext {
  all: unset !important;
  padding: 8px 16px !important;
  font-size: 2rem !important;
  border: 1px solid var(--accent-color-07) !important;
  width: 654px !important;
  background-color: var(--neutral-color-02) !important;
}

.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active,
.p-textarea:focus,
.p-textarea:hover,
.p-textarea:active {
  color: var(--neutral-color-09) !important;
  background-color: var(--accent-color-03) !important;
}

.search-input {
  display: flex !important;
  font-size: 1rem !important;
  padding: 8px 24px !important;
  font-weight: normal !important;
  border: 1px solid var(--neutral-color-09) !important;
  border-radius: 0 !important;
  width: 300px !important;
  color: var(--neutral-color-09) !important;
}

.p-textarea {
  resize: none;
  border-radius: 0px;
  background-color: var(--neutral-color-02) !important;
  padding: 8px 16px !important;
  font-size: 2rem !important;
  border: 1px solid var(--accent-color-07) !important;
  width: 688px !important;
}

.p-textarea.p-variant-filled {
  background-image: none !important;
}

::ng-deep .p-dialog-footer {
  display: flex !important;
  margin: 20px 30px !important;
  padding: 0 !important;
}

.avatar-image-mini {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 0px;
}

.avatar-image {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid transparent;
}

.avatar-wrapper {
  display: flex;
  padding: 8px 0;
  flex-wrap: wrap;
}

.selected-avatar {
  border: 2px solid var(--burgund-color-06);
}
