.welcome {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 50px;
}

.unread-comments-wrapper {
  margin-top: 40px;
}

.unread-comments {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 4px;
  color: var(--neutral-color-07);
}
