.color-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.color-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.color-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.color-wrapper span {
  padding: 10px;
}

.color-item {
  width: 50px;
  height: 150px;
  margin: 2px;
}

.color-container p {
  font-size: 4rem;
  font-weight: 800;
}

.color-accent-title {
  color: var(--accent-color-10);
}

.color-burgund-title {
  color: var(--burgund-color-10);
}

.color-border {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
