td {
  padding: 0 !important;
  height: var(--row-height) !important;
  border: 1px solid var(--neutral-color-05) !important;
}

th {
  border: 1px solid var(--neutral-color-05) !important;
}

.position-header {
  background-color: var(--table-header-bc);
  height: 50px;
}

.position-footer {
  background-color: var(--table-header-bc);
  height: 30px;
  text-align: left;
  padding: 8px;
}

.add-position {
  text-align: center;
  padding: 0;
}

.lp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--row-height) + 2px) !important;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--table-header-bc);
}

.action-btns-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  appearance: textfield;
  -moz-appearance: textfield;
}

.hidden {
  display: none;
}

.p-inputtext {
  all: unset !important;
  padding: 0 8px !important;
}

.p-inputtext,
.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active,
.p-textarea,
.p-textarea:focus,
.p-textarea:hover,
.p-textarea:active {
  background-color: var(--accent-color-03) !important;
  width: 100% !important;
  height: 100% !important;
}

.p-textarea {
  resize: none;
  border-radius: 0px;
  padding: 8px !important;
  font-size: 1.2rem !important;
}

.p-textarea.p-variant-filled {
  background-image: none !important;
}

.read-only {
  cursor: no-drop;
}

.view-mode {
  display: block;
  align-items: center;
  padding: 0 8px !important;
}

.view-mode-image {
  height: var(--row-height) !important;
  width: 100% !important;
  cursor: pointer;
}

.edit-mode-image {
  position: relative;
  height: var(--row-height) !important;
  padding: 0 8px !important;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: start;
  background-color: var(--accent-color-03) !important;
}

.p-select {
  all: unset !important;
  position: relative !important;
  padding: 0 4px !important;
  font-size: 1.2rem !important;
  background-color: var(--accent-color-03) !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.p-select.p-variant-filled {
  background-image: none !important;
}

::ng-deep .p-select-label {
  padding: 4px !important;
}

::ng-deep .p-select-option {
  font-size: 1.2rem;
}

::ng-deep .p-select-option:hover {
  background-color: var(--accent-color-03) !important;
}

::ng-deep .p-select-clear-icon {
  position: absolute !important;
  margin-right: 10px !important;
  color: var(--accent-color-13) !important;
  top: calc((var(--row-height) / 2) - 3px) !important;
}

::ng-deep .p-select-dropdown .p-iconwrapper {
  color: var(--accent-color-13) !important;
}

.select-field {
  cursor: pointer;
}

.image-spinner {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: calc(100% - 25px) !important;
  bottom: 0;
  left: 0;
}
