<div class="send-email-container">
  <div class="send-email-template-wrapper">
    <p>
      Wybierz typ wiadomości dla
      {{
        this.audience === "supplier"
          ? `dostawcy ${supplier?.company}`
          : "klienta"
      }}:
    </p>
    <p-select
      [options]="templates"
      [(ngModel)]="selectedTemplate"
      optionLabel="subject"
      (onChange)="applyTemplate($event.value)"
      styleClass="w-full"
    >
    </p-select>
  </div>
  <div class="send-email-header">
    <div class="send-email-header-cell">
      <p class="send-email-title flex-center">Nadawca</p>
      <p class="send-email-email">{{ senderEmail }}</p>
    </div>
    <div class="send-email-header-cell">
      <p class="send-email-title flex-center">Odbiorca</p>
      <p class="send-email-email">{{ newEmail.to }}</p>
    </div>
    <div class="send-email-header-cell">
      <p class="send-email-title flex-center">Temat</p>
      <p class="send-email-email">{{ newEmail.subject }}</p>
    </div>
  </div>
  <div class="send-email-content-container">
    <div class="send-email-editor">
      <label for="message" class="send-email-label send-email-label-edit"
        >Edytuj treść wiadomości</label
      >
      <textarea
        class="send-email-textarea"
        id="message"
        [(ngModel)]="emailMessage"
        (ngModelChange)="onMessageChange($event)"
        rows="5"
      ></textarea>
    </div>

    <div class="send-email-preview-container">
      <label class="send-email-label send-email-label-preview"
        >Podgląd treści wiadomości</label
      >

      <div
        class="send-email-footer {{
          emailNofitication ? '' : 'send-email-to-off'
        }}"
      >
        <i
          class="pi pi-send"
          (click)="sendEmail()"
          tooltipPosition="left"
          pTooltip="{{
            emailNofitication ? 'Wyślij e-mail' : 'Wysyłanie wyłączone'
          }} "
        ></i>
      </div>

      <iframe #iframeRef class="send-email-preview-iframe"></iframe>
    </div>
  </div>
</div>
