.send-email-container {
  width: 100%;
  border: 1px solid var(--accent-color-13);
}

.send-email-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.send-email-header p {
  margin: 0;
}

.send-email-header-cell {
  display: grid;
  grid-template-columns: 110px auto;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--accent-color-13);
}

.send-email-title {
  font-size: 1.8rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color-13);
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.send-email-email {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color-03);
}

.send-email-content-container {
  width: 100%;
}

.send-email-editor {
  width: 100%;
  height: 300px;
}

.send-email-label {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 1.5rem;
  position: relative;
}

.send-email-label-edit {
  color: var(--error-color);
  background-color: var(--accent-color-20);
}

.send-email-label-preview {
  color: var(--secondary-color);
  background-color: var(--accent-color-13);
}

.send-email-textarea {
  all: unset !important;
  padding: 10px !important;
  width: calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  resize: none;
  border: none;
  background-color: var(--edit-color) !important;
}

.send-email-preview-container {
  position: relative;
  width: 100%;
}

.send-email-footer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--accent-color-13);
}

.send-email-footer i {
  font-size: 3rem;
  color: var(--secondary-color);
}

.send-email-footer i:hover {
  color: var(--error-color);
}

.send-email-preview-iframe {
  width: 100%;
  height: 600px;
  border: none;
}

.send-email-template-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--accent-color-13);
  color: var(--secondary-color);
}

.send-email-to-off i {
  color: var(--error-color);
}
