.send-emails-list-wrapper {
  width: var(--screen-width);
  margin: 12px auto;
}

tr {
  font-size: 1.8rem;
  padding: 0 !important;
}

th {
  padding: 16px 8px !important;
}

::ng-deep .custom-table .p-datatable-tbody > tr > td {
  padding: 16px 8px;
}

.search-wrapper {
  display: flex;
  margin-bottom: 20px !important;
}

.search-input {
  display: flex !important;
  font-size: 1rem !important;
  padding: 8px 24px !important;
  font-weight: normal !important;
  border: 1px solid var(--neutral-color-09) !important;
  border-radius: 0 !important;
  width: 400px !important;
  color: var(--neutral-color-09) !important;
}

.set-name:hover {
  font-weight: 700;
}

.i-client {
  color: var(--p-button-primary-background);
}

.i-supplier {
  color: var(--p-button-info-background);
}

.link {
  color: var(--accent-color-08);
  font-size: 2rem;
}

.col-lp {
  text-align: center;
}

.email-type {
  cursor: auto;
  text-align: center;
}

.email-type i {
  font-size: 1.8rem;
  cursor: auto;
}

.no-action {
  cursor: auto;
}

.email-preview {
  text-align: center;
}

.email-preview i {
  font-size: 1.8rem;
}

.email-preview i:hover {
  color: var(--accent-color-06);
}

.email-preview-container {
  all: unset;
  display: block;
  width: 100%;
}
