<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner [size]="200"></app-loading-spinner>
</div>

<div *ngIf="!isLoading" class="send-emails-list-wrapper">
  <p-table
    #dt
    [value]="emails"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="[
      'to',
      'secondEmail',
      'company',
      'set.name',
      'subject',
      'fullName',
    ]"
    [tableStyle]="{ 'min-width': '105rem' }"
    [rowHover]="true"
    class="custom-table"
    dataKey="id"
    stripedRows
  >
    <ng-template #caption>
      <div class="search-wrapper">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            class="search-input"
            pTooltip="Filtruj e-maile"
            tooltipPosition="bottom"
            (input)="onGlobalFilter($event)"
            placeholder="Firma, e-mail, tytuł e-mail, nazwa inwestycji"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th class="flex-center" style="min-width: 3rem">L.P.</th>
        <th style="min-width: 5rem; text-align: center">Typ</th>
        <th pSortableColumn="emailTo" style="min-width: 20rem">
          E-mail
          <p-sortIcon field="emailTo" />
        </th>
        <th pSortableColumn="emailTo" style="min-width: 20rem">
          Dodatkowy e-mail
          <p-sortIcon field="emailTo" />
        </th>
        <th pSortableColumn="subject" style="min-width: 20rem">
          Tytuł e-mail
          <p-sortIcon field="subject" />
        </th>
        <th style="min-width: 10rem">Link</th>
        <th pSortableColumn="company" style="min-width: 12rem">
          Firma
          <p-sortIcon field="company" />
        </th>
        <th pSortableColumn="fullName" style="min-width: 15rem">
          Imię i nazwisko
          <p-sortIcon field="fullName" />
        </th>
        <th pSortableColumn="sendAtTimestamp" style="min-width: 15rem">
          Wysłany
          <p-sortIcon field="sendAtTimestamp" />
        </th>
        <th style="min-width: 3rem; text-align: center">Podgląd</th>
      </tr>
    </ng-template>
    <ng-template #body let-email let-index="rowIndex">
      <tr class="row">
        <td class="col-lp">{{ index + 1 }}</td>
        <td class="email-type">
          <i class="{{ email.icon }}"></i>
        </td>
        <td class="no-action">
          {{ email.to }}
        </td>
        <td class="no-action">
          {{ email.secondEmail }}
        </td>
        <td
          class="cursor-pointer set-name"
          (click)="openSet(email.set.id)"
          pTooltip="Przejdź do zestawienia"
          tooltipPosition="left"
        >
          {{ email.subject }}
        </td>
        <td class="cursor-pointer">
          <a
            href="{{ email.link }}"
            target="_blank"
            pTooltip="Otwórz link"
            tooltipPosition="left"
            ><i class="pi pi-link link"></i
          ></a>
        </td>
        <td class="no-action">
          {{ email.company }}
        </td>
        <td class="no-action">
          {{ email.fullName }}
        </td>
        <td class="no-action">{{ email.sendAt }} ({{ email.sendBy.name }})</td>
        <td class="cursor-pointer email-preview">
          <i
            pTooltip="Pokaż wysłane powiadomienie"
            tooltipPosition="bottom"
            class="pi pi-envelope"
            (click)="openEmailPreview(email.id)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="previewDialog"
  [style]="{ width: '850px' }"
  (onHide)="onDialogClosed()"
  header="{{ previewDialogHeader }}"
  [modal]="true"
  [dismissableMask]="true"
>
  <div class="email-preview-container" [innerHTML]="htmlContent"></div>
</p-dialog>
