.container {
  width: var(--screen-width);
  display: grid;
  grid-template-columns: 250px 1fr;
}

.contenst-wrapper {
  padding: 0 40px;
}

.menu-wrapper {
  display: flex;
  height: 800px;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

:host ::ng-deep .settings-menu {
  --p-menu-background: var(--accent-color-02);
  --p-menu-list-gap: 8px;
  --p-menu-list-padding: 8px;
  --p-menu-item-padding: 20px 10px;
  --p-menu-item-color: var(--accent-color-12);
  --p-menu-item-icon-color: var(--accent-color-12);
}

::ng-deep .p-menu-item-icon.pi {
  font-size: 2rem;
  padding-right: 15px;
  padding-left: 10px;
}
