.container {
  width: var(--screen-width);
  display: grid;
  grid-template-columns: 250px 1fr;
}

.contenst-wrapper {
  padding: 0 20px;
}

ul {
  display: flex;
  height: 800px;
  width: 100%;
  flex-direction: column;
  background-color: var(--accent-color-17);
}

li:hover {
  border-radius: 5px;
  background-color: var(--accent-color-14);
}

li a {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 20px;
  width: 200px;
  color: var(--accent-color-05);
}

.icon {
  font-size: 2rem;
}
