<p-dialog
  header="Pliki dołączone do zestawienia: {{ setName }}"
  [modal]="true"
  [(visible)]="showFilesDialog"
  [style]="{ width: '90%', maxWidth: '100rem' }"
>
  <div class="file-wrapper">
    <div *ngIf="attachments.length > 0">
      <div class="title">Załączniki</div>
      <ul class="file-container">
        <li class="file-item" *ngFor="let file of attachments; let i = index">
          <app-file-preview
            [file]="file"
            [canDelete]="who === 'client'"
            (delete)="deleteFile(file.id)"
            (download)="downloadFile(file.id)"
            (openPdf)="openPdf($event, file.name)"
          ></app-file-preview>
        </li>
      </ul>
    </div>
    <div *ngIf="attachmentsPdf.length > 0">
      <div class="title">Zestawienie w PDF</div>
      <ul class="file-container">
        <li
          class="file-item"
          *ngFor="let file of attachmentsPdf; let i = index"
        >
          <app-file-preview
            [file]="file"
            [canDelete]="who === 'client'"
            (delete)="deleteFile(file.id)"
            (download)="downloadFile(file.id)"
            (openPdf)="openPdf($event, file.name)"
          ></app-file-preview>
        </li>
      </ul>
    </div>
    <div *ngIf="attachmentsInspirations.length > 0">
      <div class="title">Inspiracje klienta</div>
      <ul class="file-container">
        <li
          class="file-item"
          *ngFor="let file of attachmentsInspirations; let i = index"
        >
          <app-file-preview
            [file]="file"
            (delete)="deleteFile(file.id)"
            (download)="downloadFile(file.id)"
            (openPdf)="openPdf($event, file.name)"
          ></app-file-preview>
        </li>
      </ul>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="displayPdf"
  [style]="{ width: '80vw' }"
  [modal]="true"
  [closable]="true"
  [header]="'Podgląd PDF - ' + displayPdfHeader"
>
  <iframe
    *ngIf="pdfUrl"
    [src]="pdfUrl"
    width="100%"
    height="600px"
    style="border: none"
  ></iframe>
</p-dialog>
