:root {
  --img-height: 240px;
  --img-container-width: 250px;
}

.file-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.p-image img {
  width: 100%;
  height: var(--img-height);
  object-fit: cover;
  display: block;
}

.p-image-mask img {
  width: 1000px !important;
  height: 1000px !important;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.p-image-toolbar {
  background-color: var(--accent-color-02) !important;
}

.p-image-action {
  color: var(--accent-color-06) !important;
}

.p-image-rotate-right-button,
.p-image-rotate-left-button {
  display: none !important;
}

.p-dialog {
  border: 0px solid transparent !important;
}

.p-overlay-mask,
.p-image-mask {
  background-color: rgba(0, 0, 0, 0.747) !important;
}

#file-icon i,
#file-icons i {
  color: var(--neutral-color-05) !important;
  font-size: 2.4rem !important;
}

.no-files {
  text-align: center;
  padding: 40px;
  font-size: 4rem;
  color: var(--error-color);
}

.file-change-view-mode-btn {
  position: absolute;
  top: 18px;
  right: 50px;
  display: flex;
  gap: 16px;
  justify-content: end;
  margin: 0 16px;
  cursor: pointer;
}

.file-change-view-mode-btn i {
  padding: 8px;
  font-size: 2rem;
  color: var(--neutral-color-01);
  background-color: var(--neutral-color-04);
  border-radius: 6px !important;
}

.file-change-view-mode-btn i.active {
  background-color: var(--neutral-color-09);
}

.file-change-view-mode-btn i:hover {
  background-color: var(--neutral-color-09);
}

p-button.top-action-btn > .p-button {
  width: 36px !important;
  height: 36px !important;
  padding: 0;
  display: flex;
  align-items: center;
  border: 0px solid transparent !important;
  justify-content: center;
  border-radius: 6px !important;
  cursor: pointer;
}

p-button.top-action-btn > .p-button > .p-button-icon {
  font-size: 1.8rem;
}

.img-delete {
  height: 200px;
}

.delete-file-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  width: 750px !important;
}

.delete-file-wrapper span {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}

.file-top-action-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  top: 14px;
  right: 170px;
  height: 45px;
}

/* MOBILE  */
@media (max-width: 768px) {
  .mobile-full-dialog.p-dialog {
    width: 100vw !important;
    height: 100dvh !important;
    max-height: 100dvh !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }

  .delete-file-wrapper {
    width: 300px !important;
  }

  p-button.top-action-btn > .p-button {
    width: 24px !important;
    height: 24px !important;
  }

  p-button.top-action-btn > .p-button > .p-button-icon {
    font-size: 1rem;
  }

  .file-top-action-btn {
  top: 7px;
  right: 50px;
}
}
