<p-dialog
  header="Pliki dołączone do inwestycji: {{ setName }}"
  [modal]="true"
  [(visible)]="showFilesDialog"
  [style]="{ width: '100%', maxWidth: '160rem' }"
  class="dialog-header"
>
  <div class="file-wrapper">
    <div class="top-action-btns">
      <i
        class="pi pi-list"
        (click)="changeView('list')"
        [ngClass]="{ active: defaultView === 'list' }"
        pTooltip="Widok listy"
        tooltipPosition="bottom"
      ></i>
      <i
        class="pi pi-th-large"
        (click)="changeView('icons')"
        [ngClass]="{ active: defaultView === 'icons' }"
        pTooltip="Widok ikon"
        tooltipPosition="bottom"
      ></i>
    </div>
    <div *ngIf="files.length > 0">
      <app-icons-view
        *ngIf="defaultView === 'icons'"
        [who]="who"
        [files]="files"
        [uniqueDir]="uniqueDir"
        [selectedFiles]="selectedFiles"
        [deleteFile]="deleteFile.bind(this)"
        [downloadFile]="downloadFile.bind(this)"
        [openPdf]="openPdf.bind(this)"
        [addFileToSelected]="addFileToSelected.bind(this)"
        (deleteFiles)="onDeleteFiles()"
        (downloadFiles)="downloadFiles()"
        (selectAll)="selectAll($event)"
      ></app-icons-view>
      <app-list-view
        *ngIf="defaultView === 'list'"
        [who]="who"
        [files]="files"
        [selectedFiles]="selectedFiles"
        (deleteFile)="deleteFile($event)"
        (deleteFiles)="onDeleteFiles()"
        (downloadFile)="downloadFile($event)"
        (downloadFiles)="downloadFiles()"
        (addFileToSelected)="addFileToSelected($event)"
        (selectAll)="selectAll($event)"
        (openPdf)="openPdf($event)"
      ></app-list-view>
    </div>
    <div class="no-files" *ngIf="files.length === 0">Brak załączników</div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="displayPdf"
  [style]="{ width: '80vw' }"
  [modal]="true"
  [closable]="true"
  [header]="'Podgląd PDF - ' + displayPdfHeader"
>
  <iframe
    *ngIf="pdfUrl"
    [src]="pdfUrl"
    width="100%"
    height="600px"
    style="border: none"
  ></iframe>
</p-dialog>
