:root {
  --img-height: 240px;
  --img-container-width: 250px;
}

.file-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.p-image img {
  width: 100%;
  height: var(--img-height);
  object-fit: cover;
  display: block;
}

.p-image-mask img {
  width: 1000px !important;
  height: 1000px !important;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.p-image-toolbar {
  background-color: var(--accent-color-03) !important;
}

.p-image-action {
  color: var(--accent-color-10) !important;
}

.p-image-rotate-right-button,
.p-image-rotate-left-button {
  display: none !important;
}

.p-dialog {
  border: 0px solid transparent !important;
}

.p-overlay-mask,
.p-image-mask {
  background-color: rgba(0, 0, 0, 0.747) !important;
}

#file-icon i,
#file-icons i {
  color: var(--neutral-color-05) !important;
  font-size: 2.4rem !important;
}

.no-files {
  text-align: center;
  padding: 40px;
  font-size: 4rem;
  color: var(--error-color);
}

.top-action-btns {
  position: absolute;
  top: 16px;
  right: 50px;
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin: 0 3rem;
}

.top-action-btns i {
  padding: 0.75rem;
  font-size: 2.6rem;
  color: var(--accent-color-10);
}

.top-action-btns i.active {
  background-color: var(--accent-color-03);
}

.img-delete {
  height: 200px;
}

.delete-file-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  width: 750px !important;
}

.delete-file-wrapper span {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}

/* MOBILE  */
@media (max-width: 768px) {
  .mobile-full-dialog.p-dialog {
    width: 100vw !important;
    height: 100dvh !important;
    max-height: 100dvh !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }

  .top-action-btns i {
    font-size: 2rem;
  }

  .delete-file-wrapper {
    width: 300px !important;
  }
}
