<p-dialog
  header="Pliki dołączone do zestawienia: {{ setName }}"
  [modal]="true"
  [(visible)]="showFilesDialog"
  [style]="{ width: '90%', maxWidth: '100rem' }"
>
  <div class="file-wrapper">
    <div *ngIf="files.length > 0">
      <div class="title">Załączniki</div>
      <ul class="file-container">
        <li class="file-item" *ngFor="let file of files; let i = index">
          <app-file-preview
            [file]="file"
            [canDelete]="who === 'client'"
            (delete)="deleteFile(file.id)"
            (download)="downloadFile(file.id)"
            (openPdf)="openPdf(file)"
          ></app-file-preview>
        </li>
      </ul>
    </div>
    <div class="no-files" *ngIf="files.length === 0">Brak załączników</div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="displayPdf"
  [style]="{ width: '80vw' }"
  [modal]="true"
  [closable]="true"
  [header]="'Podgląd PDF - ' + displayPdfHeader"
>
  <iframe
    *ngIf="pdfUrl"
    [src]="pdfUrl"
    width="100%"
    height="600px"
    style="border: none"
  ></iframe>
</p-dialog>
