:root {
  --img-height: 240px;
  --img-container-width: 250px;
}

.file-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.p-image img {
  width: 100%;
  height: var(--img-height);
  object-fit: cover;
  display: block;
}

.p-image-mask img {
  width: 1000px !important;
  height: 1000px !important;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.p-image-toolbar {
  background-color: var(--accent-color-lighter) !important;
}

.p-image-action {
  color: var(--accent-color) !important;
}

.p-image-rotate-right-button,
.p-image-rotate-left-button {
  display: none !important;
}

.p-dialog {
  border: 0px solid transparent !important;
}

.p-overlay-mask,
.p-image-mask {
  background-color: rgba(0, 0, 0, 0.747) !important;
}

#file-icon i,
#file-icons i {
  color: var(--neutral-color-darker) !important;
  font-size: 2.4rem !important;
}

.no-files {
  text-align: center;
  padding: 40px;
  font-size: 4rem;
  color: var(--error-color);
}

.top-action-btns {
  position: absolute;
  top: 16px;
  right: 50px;
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin: 0 3rem;
}

.top-action-btns i {
  padding: 0.75rem;
  font-size: 2.6rem;
  color: var(--accent-color);
}

.top-action-btns i.active {
  background-color: var(--accent-color-lighter);
}

.img-delete {
  height: 200px;
}

.delete-file-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 750px !important;
}
