.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-6 {
  margin: 6px;
}

.m-8 {
  margin: 8px;
}

.m-10 {
  margin: 10px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBold {
  font-weight: 700;
}

.dispay-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
