* {
  --input-border-width: 2px;
  --checkbox-height: 30px;
  --inputs-transitions: background-color 0.5s linear;
}

input {
  all: unset;
  border: var(--input-border-width) solid var(--primary-color);
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 5px 10px;
  transition: var(--inputs-transitions);
  margin-bottom: 24px;
}

input:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

input[type="submit"],
input[type="button"],
button {
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: var(--input-border-width) solid var(--primary-color);
  cursor: pointer;
  padding: 5px 0px;
  width: 150px;
  transition: var(--inputs-transitions);
  font-size: 2rem;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: var(--input-border-width) solid var(--secondary-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px rgb(243, 243, 243) inset !important;
  border: var(--input-border-width) solid var(--primary-color);
}

