::ng-deep .p-checkbox-box {
  border: 2px solid var(--neutral-color-10) !important;
}

::ng-deep
  .p-checkbox:not(.p-checkbox-checked)
  .p-checkbox-box:not(:has(minusicon)) {
  background-color: var(--neutral-color-01) !important;
}

::ng-deep .p-checkbox .p-checkbox-box:has(minusicon) {
  background-color: var(--neutral-color-10) !important;
}

::ng-deep .p-checkbox.p-checkbox-checked .p-checkbox-box {
  background-color: var(--neutral-color-10) !important;
}

::ng-deep .p-checkbox-box .p-checkbox-icon {
  color: var(--neutral-color-01) !important;
}
