:root {
  --screen-width: 1600px;
  --p-tooltip-background: var(--neutral-color-10) !important;
  --p-tooltip-color: var(--neutral-color-01) !important;
  --p-tooltip-padding: 6px !important;
  --p-tooltip-border-radius: 0 !important;

  --p-button-primary-background: var(--accent-color-08) !important;
  --p-button-primary-active-background: var(--accent-color-08) !important;
  --p-button-primary-hover-background: var(--accent-color-06) !important;
  --p-button-primary-color: #ecf1f0 !important;
  --p-button-primary-active-color: #ecf1f0 !important;
  --p-button-primary-hover-color: #ecf1f0 !important;

  --p-button-secondary-background: #f1f5f9 !important;
  --p-button-secondary-active-background: #f1f5f9 !important;
  --p-button-secondary-hover-background: #d4d7da !important;
  --p-button-secondary-color: #020617 !important;
  --p-button-secondary-active-color: #020617 !important;
  --p-button-secondary-hover-color: #020617 !important;

  --p-button-info-background: #03a9f4 !important;
  --p-button-info-active-background: #03a9f4 !important;
  --p-button-info-hover-background: #058ecd !important;
  --p-button-info-color: #ecf1f0 !important;
  --p-button-info-active-color: #ecf1f0 !important;
  --p-button-info-hover-color: #ecf1f0 !important;

  --p-button-success-background: #b2b2b2 !important;
  --p-button-success-active-background: #b2b2b2 !important;
  --p-button-success-hover-background: #868686 !important;
  --p-button-success-color: #ecf1f0 !important;
  --p-button-success-active-color: #ecf1f0 !important;
  --p-button-success-hover-color: #ecf1f0 !important;

  --p-button-warn-background: #ff9800 !important;
  --p-button-warn-active-background: #ff9800 !important;
  --p-button-warn-hover-background: #cc7c04 !important;
  --p-button-warn-color: #ecf1f0 !important;
  --p-button-warn-active-color: #ecf1f0 !important;
  --p-button-warn-hover-color: #ecf1f0 !important;

  --p-button-help-background: #9c27b0 !important;
  --p-button-help-active-background: #9c27b0 !important;
  --p-button-help-hover-background: #b82fd0 !important;
  --p-button-help-color: #ecf1f0 !important;
  --p-button-help-active-color: #ecf1f0 !important;
  --p-button-help-hover-color: #ecf1f0 !important;

  --p-button-danger-background: var(--burgund-color-06) !important;
  --p-button-danger-active-background: var(--burgund-color-06) !important;
  --p-button-danger-hover-background: var(--burgund-color-03) !important;
  --p-button-danger-color: #ecf1f0 !important;
  --p-button-danger-active-color: #ecf1f0 !important;
  --p-button-danger-hover-color: #ecf1f0 !important;

  --p-button-contrast-background: var(--neutral-color-09) !important;
  --p-button-contrast-active-background: var(--neutral-color-09) !important;
  --p-button-contrast-hover-background: var(--neutral-color-08) !important;
  --p-button-contrast-color: var(--neutral-color-01) !important;
  --p-button-contrast-active-color: var(--neutral-color-01) !important;
  --p-button-contrast-hover-color: var(--neutral-color-01) !important;

  --p-radiobutton-icon-checked-color: var(--accent-color-06) !important;
  --p-radiobutton-checked-background: var(--accent-color-06) !important;
  --p-radiobutton-border-color: var(--accent-color-06) !important;

  --p-tabs-active-bar-background: none !important;
  --p-tabs-tablist-border-width: 0 !important;

  /* badge color  */
  --p-badge-secondary-background: var(--neutral-color-03) !important;
  --p-badge-contrast-background: #020617 !important;
  --p-badge-info-background: #04a9f4 !important;
  --p-badge-success-background: #4caf50 !important;
  --p-badge-warn-background: #ff9800 !important;
  --p-badge-danger-background: #f44336 !important;
}

/* primeNG custom elements style  */
::ng-deep .p-tooltip {
  font-size: 12px !important;
}

/* p-table  */
.row {
  font-size: 1.4rem !important;
}

.row:hover {
  background-color: var(--accent-color-03) !important;
}

::ng-deep .p-iconwrapper svg {
  width: 16px !important;
  height: 16px !important;
}

.p-button {
  border: 1px solid transparent !important;
  border-radius: 0 !important;
}

::ng-deep .p-dialog-title {
  padding: 16px;
  font-size: 2rem !important;
  color: var(--accent-color-07) !important;
}

::ng-deep .p-dialog-footer {
  margin: 12px 0 !important;
}

/* shared  */
.spinner {
  margin-top: 100px;
}

::ng-deep .p-badge-circle {
  cursor: pointer !important;
}
