td {
  padding: 0 !important;
  height: var(--row-height) !important;
  border: 1px solid var(--neutral-color-05) !important;
}

th {
  border: 1px solid var(--neutral-color-05) !important;
}
.supplier-container {
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}

.header-cell-client {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--primary-color);
}

.client-data {
  display: flex;
  flex-direction: column;
}

.header-cell-logo {
  display: flex;
  justify-content: end;
}

.header-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent-color-12);
  margin-bottom: 20px;
}

.logo-wrapper img {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

.image-spinner {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.position-header {
  background-color: var(--table-header-bc);
  height: 50px;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.lp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--row-height) + 2px) !important;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--table-header-bc);
}

.text-center {
  text-align: center;
}

.view-mode {
  display: block;
  align-items: center;
  padding: 0 8px !important;
  font-size: 1.2rem;
}

.link {
  gap: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--color-primary);
}

.link i {
  font-size: 1.6rem;
}

.product-img {
  background-color: rgb(255, 255, 255) !important;
}

.view-mode-image {
  height: calc(var(--row-height) - 10px) !important;
  width: 100% !important;
}
