.send-email-container {
  width: 100%;
  border: 2px solid var(--neutral-color-10);
}

.send-email-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.send-email-header p {
  margin: 0;
}

.send-email-header-cell {
  display: grid;
  grid-template-columns: 110px auto;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--neutral-color-10);
}

.send-email-title {
  font-size: 1.8rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--neutral-color-10);
  color: var(--neutral-color-01);
  border-bottom: 1px solid var(--neutral-color-01);
}

.send-email-email {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--neutral-color-01);
}

.send-email-content-container {
  width: 100%;
}

.send-email-label {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 1.5rem;
  position: relative;
  color: var(--neutral-color-01);
  background-color: var(--neutral-color-10);
}

.send-email-preview-iframe-header,
.send-email-preview-iframe-footer {
  width: 100%;
  border: none;
  overflow: hidden;
  display: block;
  margin: 10px;
}

.send-email-preview-iframe-header {
  height: 300px !important;
}

.send-email-preview-iframe-footer {
  height: 520px !important;
}

.send-email-iframe-wrapper {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.send-email-textarea {
  all: unset !important;
  padding: 10px !important;
  width: calc(100% - 0px) !important;
  height: 150px !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.6rem !important;
  resize: none !important;
  border: none !important;
  border: 1px solid var(--error-color) !important;
}

.send-email-preview-container {
  position: relative;
  width: 100%;
}

.send-email-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--neutral-color-10);
}

.send-email-btn i {
  font-size: 3rem;
  color: var(--secondary-color);
}

.send-email-btn i:hover {
  color: var(--accent-color-10);
}

.send-email-template-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--neutral-color-10);
  color: var(--secondary-color);
}

.send-email-to-off i {
  color: var(--error-color);
}

.p-select {
  position: relative !important;
  padding: 0 4px !important;
  background-color: var(--neutral-color-10) !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  border: 0px solid var(--neutral-color-01) !important;
}

.p-select:hover {
  background-color: var(--neutral-color-08) !important;
}

.p-select.p-variant-filled {
  background-image: none !important;
}

::ng-deep .p-select-label {
  padding: 4px !important;
  color: var(--neutral-color-01) !important;
}

::ng-deep .p-select-option {
  color: var(--neutral-color-10) !important;
}

::ng-deep .p-select-option-selected {
  background-color: var(--neutral-color-04) !important;
}

::ng-deep .p-select-option:hover {
  color: var(--neutral-color-01) !important;
  background-color: var(--neutral-color-08) !important;
}

::ng-deep .p-select-clear-icon {
  position: absolute !important;
  margin-right: 10px !important;
}

::ng-deep .p-select-dropdown .p-iconwrapper {
  color: var(--neutral-color-01) !important;
}

::ng-deep .p-select-list-container {
  background-color: var(--neutral-color-01) !important;
}
