<p-galleria
  [value]="images"
  [(visible)]="displayBasic"
  [(activeIndex)]="activeIndex"
  [numVisible]="6"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showIndicators]="true"
>
  <ng-template #item let-item>
    <div class="preview-image-wrapper flex-center">
      <img [src]="item.itemImageSrc" />
    </div>
  </ng-template>
  <ng-template #thumbnail let-item>
    <img
      [src]="item.thumbnailImageSrc || item.itemImageSrc"
      style="height: 100px; display: block"
    />
  </ng-template>
</p-galleria>
