::ng-deep p-galleriacontent {
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .p-galleria-item {
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep .p-galleria-thumbnail-item {
  overflow: hidden !important;
  margin: 5px !important;
}

::ng-deep .p-galleria-mask .p-galleria-nav-button {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: var(--accent-color-05) !important;
  color: var(--accent-color-15) !important;
  padding: 2px !important;
}

::ng-deep .p-galleria-mask .p-galleria-nav-button:hover,
::ng-deep .p-galleria-close-button:hover {
  background-color: var(--accent-color-15) !important;
  color: var(--accent-color-02) !important;
}

::ng-deep .p-galleria-close-button {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background-color: var(--accent-color-05) !important;
  color: var(--accent-color-15) !important;
  padding: 2px !important;
  z-index: 2;
}

::ng-deep .p-galleria-indicator-list {
  background-color: var(--accent-color-05) !important;
}
/* MOBILE  */
@media (max-width: 768px) {
  ::ng-deep .p-galleria-item {
    padding-bottom: 10px;
  }

  ::ng-deep p-galleriacontent {
    max-width: 400px;
  }

  ::ng-deep .p-galleria-mask .p-galleria-nav-button {
    width: 20px;
    height: 20px;
    font-size: 8px;
  }

  ::ng-deep .p-galleria-close-button {
    width: 20px;
    height: 20px;
  }

  ::ng-deep .p-galleria-close-icon,
  ::ng-deep .p-galleria-next-icon,
  ::ng-deep .p-galleria-prev-icon {
    transform: scale(0.7);
    transform-origin: center;
  }
}
