<p-dialog
  header="Dołącz pliki do zestawienia: {{ setName }}"
  [modal]="true"
  [(visible)]="showSendFilesDialog"
  [style]="{ width: '100rem' }"
>
  <p-progressBar [value]="uploadProgress"></p-progressBar>

  <p-fileupload
    #fileUploader
    [customUpload]="true"
    (uploadHandler)="uploadFiles($event)"
    [multiple]="true"
    [uploadButtonProps]="{ severity: 'info', label: 'Wgraj', size: 'large' }"
    [cancelButtonProps]="{ severity: 'danger', label: 'Anuluj', size: 'large' }"
    [chooseButtonProps]="{
      severity: 'primary',
      label: 'Wybierz pliki',
      size: 'large'
    }"
    mode="advanced"
    [fileLimit]="fileLimit"
    maxFileSize="1000000000"
  >
    <ng-template #empty>
      <div class="send-files-wrapper">
        <i class="pi pi-cloud-upload" (click)="openFileDialogManually()"></i>
        <span class="file-limit">Maksymalnie {{fileLimit}} plików</span>
      </div>
    </ng-template>
    <ng-template #content>
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileupload>
</p-dialog>
