.send-files-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px 0;
}

.send-files-wrapper i {
  font-size: 50px;
  color: var(--accent-color);
}

.send-files-wrapper i:hover {
  color: var(--accent-color-darker);
}

.file-limit {
  font-size: 1rem;
  color: var(--error-color);
}
