.container {
  width: var(--screen-width);
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: var(--accent-color-09);
}

h3 {
  color: var(--accent-color-02);
}

.header-actions-btn {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.action-btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--accent-color-02);
  transition: color 0.2s ease;
}

.action-btn-wrapper:hover {
  color: var(--accent-color-16);
}

.action-btn-wrapper label {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.action-btn-wrapper i {
  font-size: 3rem;
}

.action-btn-wrapper i,
.action-btn-wrapper label {
  color: inherit;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.room-name {
  font-size: 1.6rem;
}

.positions-item {
  display: grid;
  padding: 20px 0;
  grid-template-columns: repeat(5, 1fr);
  background-color: var(--neutral-color);
  border-bottom: 2px solid var(--accent-color-09);
  gap: 10px;
}

.position-action-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.link {
  gap: 5px;
  font-size: 2rem;
  color: var(--accent-color-09);
  font-weight: 700;
  transition: color 0.2s ease;
}

.link i,
.comments-cell i {
  font-size: 3rem;
  color: var(--accent-color-09);
  transition: color 0.2s ease;
}

.link:hover,
.link:hover i,
.comments-cell:hover i {
  color: var(--primary-color);
}

.link-cell {
  width: 100px;
  height: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.comments-cell {
  position: relative;
  width: 40px;
  height: 40px;
}

.nr-comments {
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: auto;
}

.nr-files {
  position: absolute;
  top: -7px;
  right: -20px;
  cursor: auto;
}

.product-img {
  background-color: rgb(255, 255, 255) !important;
}

.product-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 5px;
  height: 80px;
}

.product-title {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.product-name {
  font-size: 2rem;
  color: var(--accent-color-13);
  /* white-space: pre-wrap; */
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::ng-deep .p-tabpanels {
  padding: 0 !important;
}

::ng-deep .p-tab {
  font-size: 1.4rem;
}
