.container {
  width: 100% !important;
}

.header-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color-15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px 0;
  min-width: var(--screen-width);
}

.set-content {
  max-width: var(--screen-width);
  margin: 0 auto;
}

h3 {
  color: var(--accent-color-01);
}

.header-actions-btn {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.action-btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color-01);
  transition: color 0.2s ease;
}

.action-btn-wrapper:hover {
  color: var(--accent-color-08);
}

.action-btn-wrapper label {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.action-btn-wrapper i {
  font-size: 3rem;
  padding: 0 20px;
}

.action-btn-wrapper i,
.action-btn-wrapper label {
  color: inherit;
}

.positions-item {
  display: grid;
  padding: 20px 0;
  grid-template-columns: auto repeat(4, 1fr);
  background-color: var(--accent-color-01);
  border-bottom: 3px solid var(--accent-color-09);
  gap: 0px;
}

.nr-files {
  position: absolute;
  top: -7px;
  right: -20px;
  cursor: auto;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::ng-deep .p-tabpanels {
  padding: 0 !important;
}

::ng-deep .p-tab {
  font-size: 1.4rem !important;
  background-color: var(--accent-color-04) !important;
}

::ng-deep .p-tab:hover,
::ng-deep .p-tab-active {
  color: var(--accent-color-01) !important;
  background-color: var(--accent-color-07) !important;
}
