.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin-top: 8rem;
  width: 500px;
  justify-self: center;
  position: relative;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.field label {
  margin-bottom: 1rem;
  font-weight: 700;
}

.error {
  color: var(--error-color);
  font-size: 1.6rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submit-error {
  color: var(--error-color);
  font-size: 1.6rem;
}