<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <div class="field">
      <label for="login">Login</label>
      <input
        id="login"
        type="text"
        [formControl]="form.controls.login"
        autocomplete="off"
      />
      @if(loginIsInvalid) {
      <p class="error">Login is required</p>
      }
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        autocomplete="off"
      />
      @if(passwordIsInvalid) {
      <p class="error">Password is required</p>
      }
    </div>

    @if(errorMessage) {
    <p class="submit-error">
      {{ errorMessage }}
    </p>
    }

    <button type="submit" class="submit" >Login <i class="pi pi-sign-in icon"></i></button>
  </div>
</form>
