<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <div class="field">
      <label for="login">Login</label>
      <input id="login" type="text" [formControl]="form.controls.login" />
      @if(loginIsInvalid) {
      <p class="error">Login is required</p>
      }
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
      @if(passwordIsInvalid) {
      <p class="error">Password is required</p>
      }
    </div>

    @if(errorMessage) {
    <p class="submit-error">
      {{ errorMessage }}
    </p>
    }

    <input type="submit" value="Login" />
  </div>
</form>
