* {
  --input-border-width: 1px;
  --checkbox-height: 30px;
  --inputs-transitions: background-color 0.5s linear;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 2rem;
  margin-top: 5rem;
  width: 500px;
  justify-self: center;
  position: relative;
  font-size: 14px !important;
}

.login-ttile {
  font-size: 4rem;
  color: var(--accent-color-13);
  font-weight: 700;
  padding-bottom: 20px;
}

img {
  width: 100%;
  margin-bottom: 100px;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.field label {
  margin: 1.2rem 0;
  font-weight: 700;
  color: var(--accent-color-13);
}

.error {
  color: var(--error-color);
  font-size: 1.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submit-error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--error-color);
  font-size: 1.6rem;
  height: 30px;
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

i {
  font-size: 1.6rem !important;
}

input {
  all: unset;
  border: var(--input-border-width) solid var(--accent-color-13);
  background-color: var(--accent-color-03);
  color: var(--accent-color-13);
  padding: 8px 16px;
  transition: var(--inputs-transitions);
  margin-bottom: 24px;
  font-size: 14px !important;
  width: 200px;
}

input:-webkit-autofill {
  font-size: 14px !important;
  -webkit-box-shadow: 0 0 0 50px var(--accent-color-03) inset !important;
  -webkit-text-fill-color: var(--accent-color-13) !important;
  border: var(--input-border-width) solid var(--accent-color-13) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input[type="submit"],
input[type="button"],
button {
  text-align: center;
  color: var(--accent-color-03);
  background-color: var(--accent-color-13);
  border: var(--input-border-width) solid var(--accent-color-13);
  cursor: pointer;
  padding: 8px 16px;
  width: 200px;
  transition: var(--inputs-transitions);
  font-size: 1.6rem !important;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  color: var(--accent-color-13);
  background-color: var(--accent-color-03);
  border: var(--input-border-width) solid var(--accent-color-13);
}
