<div class="settings-ui-container">
  <div class="settings-ui-btn-container">
    <p>Normal</p>
    <div class="settings-ui-wrapper">
      <p-button severity="primary" label="Primary" />
      <p-button icon="pi pi-star-fill" severity="primary" />
      <p-button icon="pi pi-star-fill" severity="primary" label="Primary" />
    </div>
    <div class="settings-ui-wrapper">
      <p-button severity="secondary" label="Secondary" />
      <p-button icon="pi pi-trash" severity="secondary" />
      <p-button icon="pi pi-trash" severity="secondary" label="Secondary" />
    </div>
    <div class="settings-ui-wrapper">
      <p-button severity="danger" label="Danger" />
      <p-button icon="pi pi-bolt" severity="danger" />
      <p-button icon="pi pi-bolt" severity="danger" label="Danger" />
    </div>
    <div class="settings-ui-wrapper">
      <p-button severity="info" label="Info" />
      <p-button icon="pi pi-info" severity="info" />
      <p-button icon="pi pi-info" severity="info" label="Info" />
    </div>
    <div class="settings-ui-wrapper">
      <p-button severity="help" label="Help" />
      <p-button icon="pi pi-question" severity="help" />
      <p-button icon="pi pi-question" severity="help" label="Help" />
    </div>
    <div class="settings-ui-wrapper">
      <p-button severity="warn" label="Warn" />
      <p-button icon="pi pi-exclamation-triangle" severity="warn" />
      <p-button
        icon="pi pi-exclamation-triangle"
        severity="warn"
        label="Warn"
      />
    </div>
    <div class="settings-ui-wrapper">
      <p-button severity="contrast" label="Contrast" />
      <p-button icon="pi pi-times" severity="contrast" />
      <p-button icon="pi pi-times" severity="contrast" label="Contrast" />
    </div>
    <div class="settings-ui-wrapper">
      <p-button severity="success" label="Success" />
      <p-button icon="pi pi-check" severity="success" />
      <p-button icon="pi pi-check" severity="success" label="Success" />
    </div>
  </div>
  <div class="settings-ui-btn-container">
    <p>Large</p>
    <div class="settings-ui-wrapper">
      <p-button
        size="large"
        severity="primary"
        label="Primary"
      />
      <p-button size="large" icon="pi pi-star-fill" severity="primary" />
      <p-button
        size="large"
        icon="pi pi-star-fill"
        severity="primary"
        label="Primary"
      />
    </div>
    <div class="settings-ui-wrapper">
      <p-button
        size="large"
        severity="secondary"
        label="Secondary"
      />
      <p-button size="large" icon="pi pi-trash" severity="secondary" />
      <p-button
        size="large"
        icon="pi pi-trash"
        severity="secondary"
        label="Secondary"
      />
    </div>
    <div class="settings-ui-wrapper">
      <p-button
        size="large"
        severity="danger"
        label="Danger"
      />
      <p-button size="large" icon="pi pi-bolt" severity="danger" />
      <p-button
        size="large"
        icon="pi pi-bolt"
        severity="danger"
        label="Danger"
      />
    </div>
    <div class="settings-ui-wrapper">
      <p-button size="large" severity="info" label="Info" />
      <p-button size="large" icon="pi pi-info" severity="info" />
      <p-button size="large" icon="pi pi-info" severity="info" label="Info" />
    </div>
    <div class="settings-ui-wrapper">
      <p-button
        size="large"
        severity="help"
        label="Help"
      />
      <p-button size="large" icon="pi pi-question" severity="help" />
      <p-button
        size="large"
        icon="pi pi-question"
        severity="help"
        label="Help"
      />
    </div>
    <div class="settings-ui-wrapper">
      <p-button
        size="large"
        severity="warn"
        label="Warn"
      />
      <p-button
        size="large"
        icon="pi pi-exclamation-triangle"
        severity="warn"
      />
      <p-button
        size="large"
        icon="pi pi-exclamation-triangle"
        severity="warn"
        label="Warn"
      />
    </div>
    <div class="settings-ui-wrapper">
      <p-button
        size="large"
        severity="contrast"
        label="Contrast"
      />
      <p-button size="large" icon="pi pi-times" severity="contrast" />
      <p-button
        size="large"
        icon="pi pi-times"
        severity="contrast"
        label="Contrast"
      />
    </div>
    <div class="settings-ui-wrapper">
      <p-button
        size="large"
        severity="success"
        label="Success"
      />
      <p-button size="large" icon="pi pi-check" severity="success" />
      <p-button
        size="large"
        icon="pi pi-check"
        severity="success"
        label="Success"
      />
    </div>
  </div>
</div>
