.settings-ui-container {
  display: flex;
  gap: 100px;
  padding: 20px 0;
}

.settings-ui-btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-ui-btn-container p {
  display: flex;
  justify-content: center;
}

.settings-ui-wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
