<div class="settings-ui-container">
  <div class="settings-ui-btn-container">
    <p>Normal</p>
    <div class="settings-ui-wrapper" *ngFor="let button of buttonList">
      <p-button [severity]="button.severity" [label]="button.severity" />
      <p-button icon="pi {{ button.icon }}" [severity]="button.severity" />
      <p-button
        icon="pi {{ button.icon }}"
        [severity]="button.severity"
        [label]="button.severity"
      />
    </div>
  </div>
  <div class="settings-ui-btn-container">
    <p>Large</p>
    <div class="settings-ui-wrapper" *ngFor="let button of buttonList">
      <p-button
        size="large"
        [severity]="button.severity"
        [label]="button.severity"
      />
      <p-button
        size="large"
        icon="pi {{ button.icon }}"
        [severity]="button.severity"
      />
      <p-button
        size="large"
        icon="pi {{ button.icon }}"
        [severity]="button.severity"
        [label]="button.severity"
      />
    </div>
  </div>
  <div class="settings-ui-btn-container">
    <p>Badge</p>
    <div class="settings-ui-wrapper" *ngFor="let badge of badgeList">
      <div class="setting-ui-badge-btn">
        {{ badge.severity }}
        <p-badge
          class="setting-ui-badge"
          [value]="badge.value"
          [severity]="badge.severity"
          badgeSize="large"
        ></p-badge>
      </div>
    </div>
  </div>
</div>
