.container {
  display: flex;
  gap: 100px;
  padding: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-container p {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
