.comment-nofitication-container {
  width: var(--screen-width);
  margin: 12px auto;
}

.active-timers {
  width: 1000px;
  margin: 12px auto;
}

.header {
  font-size: 2.4rem;
  color: var(--burgund-color-06);
  padding: 24px 0;
}

tr {
  font-size: 1.8rem;
  padding: 0 !important;
}

th {
  padding: 16px 8px !important;
}

th i {
  font-size: 1.8rem;
}

::ng-deep .custom-table .p-datatable-tbody > tr > td {
  padding: 16px 8px;
}

.search-wrapper {
  display: flex;
  margin-bottom: 20px !important;
}

.search-input {
  display: flex !important;
  font-size: 1rem !important;
  padding: 8px 24px !important;
  font-weight: normal !important;
  border: 1px solid var(--neutral-color-09) !important;
  border-radius: 0 !important;
  width: 400px !important;
  color: var(--neutral-color-09) !important;
}

.col-lp {
  text-align: center;
}

.col-notification-direction-wrapper {
  width: 100px;
}

.col-notification-direction-wrapper i {
  font-size: 1.8rem;
  cursor: auto;
}

.i-client-to-office {
  color: var(--p-button-primary-background);
}

.i-office-to-client {
  color: var(--p-button-info-background);
}

.no-action {
  cursor: auto;
}

.set-name:hover {
  font-weight: 700;
}

.notification-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.notification-preview {
  text-align: center;
}

.notification-preview i {
  font-size: 1.8rem;
}

.notification-preview i:hover {
  color: var(--accent-color-06);
}

.notification-preview-container {
  all: unset;
  display: block;
  width: 100%;
}
