<div class="set-container">
  <div class="header flex-center" *ngIf="set">
    Zestawienie :&nbsp;<strong>{{ set.name }}</strong
    >&nbsp;dla &nbsp;<strong>{{ set.clientId.firma }}</strong
    >&nbsp; z dnia {{ set.createdAt }}
  </div>
    <p-tabs [value]="selectedBookmark" scrollable>
      <p-tablist>
        @for (bookmark of bookmarks; track bookmark.id) {
        <p-tab [value]="bookmark.id" (click)="loadContent(bookmark.id)">{{
          bookmark.name
        }}</p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        @for (bookmark of bookmarks; track bookmark.id) {
        <p-tabpanel [value]="bookmark.id">
          <div class="position-container">
            <app-position [positions]="positionsFromBookmark" />
          </div>
        </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
</div>
