.set-container {
  width: 1200px;
}

.header {
  font-size: 3rem;
  background-color: var(--accent-color-darker);
  color: var(--secondary-color);
}

::ng-deep .p-tab {
  background-color: var(--neutral-color);
}

::ng-deep .p-tab:hover,
::ng-deep .p-tab-active {
  background-color: var(--accent-color-lighter) !important;
}

.position-container {
  padding-top: 10px;
  height: 500px;
  border: 1px solid rgb(109, 109, 109);
}

::ng-deep .p-tabpanels {
  padding: 0 !important;
}
