.preview-file-row {
  height: 150px;
  font-size: 1.8rem;
}

.preview-file-row:hover {
  background-color: var(--accent-color-03) !important;
}

.preview-file-wrapper {
  overflow: hidden;
}

.preview-file-wrapper.landscape img {
  width: 100%;
  object-fit: contain !important;
  overflow: visible !important;
}

.preview-file-wrapper.portrait img {
  height: 100%;
  overflow: visible !important;
}

.preview-image-wrapper {
  position: relative;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.preview-image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s;
}

.preview-image-wrapper:hover .preview-image-overlay {
  opacity: 1;
}

.preview-indicator,
.preview-file-other i {
  color: var(--accent-color-10);
  font-size: 80px;
  cursor: auto;
}

.preview-file-pdf,
.preview-file-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow: hidden;
  width: 150px;
}

.preview-row-action-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.list-top-action-btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  top: 14px;
  right: 200px;
  height: 45px;
}

.folder-icon {
  padding-right: 5px;
  font-size: 1.6rem;
  cursor: auto;
}
