<p-table
  #dt
  [value]="files"
  [(selection)]="selectedFiles"
  dataKey="id"
  stripedRows
  [tableStyle]="{ 'min-width': '80rem' }"
  [globalFilterFields]="[
    'fileName',
    'type',
    'dir',
    'size',
    'createdAtTimestamp'
  ]"
  [rowHover]="true"
  scrollable="true"
  scrollHeight="800px"
>
  <ng-template #header>
    <tr>
      <th style="width: 4rem; text-align: center">
        <p-button
          severity="danger"
          class="m-4"
          icon="pi pi-trash"
          alt="Usuń zaznaczone pliki"
          pTooltip="Usuń zaznaczone pliki"
          [disabled]="selectedFiles.length === 0"
          (click)="deleteSelectedFiles()"
        />
      </th>
      <th style="width: 160px; text-align: center">Podgląd</th>
      <th pSortableColumn="fileName" style="min-width: 6rem">
        Nazwa <p-sortIcon field="fileName" />
      </th>
      <th pSortableColumn="type" style="width: 10rem">
        Typ <p-sortIcon field="type" />
      </th>
      <th pSortableColumn="dir" style="width: 14rem">
        Folder <p-sortIcon field="dir" />
      </th>
      <th pSortableColumn="size" style="width: 16rem">
        Rozmiar <p-sortIcon field="size" />
      </th>
      <th style="width: 16rem">Wymiary</th>
      <th pSortableColumn="createdAtTimestamp" style="width: 16rem">
        Przesłany <p-sortIcon field="createdAtTimestamp" />
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-file>
    <tr class="file-row">
      <td>
        <div class="action-btns">
          <p-tableCheckbox [value]="file" pTooltip="Zaznacz plik" />
          <p-button
            severity="info"
            class="m-4"
            icon="pi pi-download"
            alt="Pobierz plik"
            pTooltip="Pobierz plik"
            (click)="downloadFile.emit(file.id)"
          />
          <p-button
            severity="danger"
            class="m-4"
            icon="pi pi-trash"
            alt="Usuń plik"
            pTooltip="Usuń plik"
            (click)="deleteFile.emit(file.id)"
            [disabled]="selectedFiles.length !== 0"
          />
        </div>
      </td>
      <td>
        <div *ngIf="file | isPdf" class="file-pdf">
          <app-pdf-thumbnail
            [file]="file"
            (click)="openPdf.emit(file)"
          ></app-pdf-thumbnail>
        </div>
        <div *ngIf="file | isImage" class="flex-center">
          <p-image
            [src]="file.fullPath"
            [preview]="true"
            alt="Załączony plik"
            pTooltip="Powiększ"
            tooltipPosition="bottom"
            class="img-preview"
          >
            <ng-template #indicator>
              <i class="pi pi-search-plus indicator"></i>
            </ng-template>
            <ng-template #image>
              <img [src]="file.fullPath" alt="Załączony plik" />
            </ng-template>
            <ng-template
              #preview
              let-style="style"
              let-previewCallback="previewCallback"
            >
              <img
                [src]="file.fullPath"
                alt="Załączony plik"
                [style]="style"
                (click)="previewCallback()"
              />
            </ng-template>
          </p-image>
        </div>
        <div class="file-other" *ngIf="!(file | isImage) && !(file | isPdf)">
          <i class="pi pi-file"></i>
        </div>
      </td>
      <td>{{ file.fileName }}</td>
      <td>{{ file.type | uppercase }}</td>
      <td>{{ file.dir }}</td>
      <td>{{ file.displaySize }}</td>
      <td>{{ file.dimmensions }}</td>
      <td>{{ file.createdAt }}</td>
    </tr>
  </ng-template>
</p-table>
