.file-row {
  height: 150px;
  font-size: 1.8rem;
}

.file-row:hover {
  background-color: var(--accent-color-03) !important;
}

.p-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.indicator {
  font-size: 80px;
  color: var(--accent-color-10);
}

.file-pdf,
.file-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow: hidden;
  width: 150px;
}

.file-other i {
  color: var(--accent-color-10);
  font-size: 80px;
}

.row-action-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.list-top-action-btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  top: 14px;
  right: 200px;
  height: 45px;
}
