body {
  background-color: var(--accent-color-10);
  width: 100%;
  height: 100vh;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

img {
  width: 1000px;
}
