.password-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  color: var(--accent-color-15);
  font-size: 2rem;
}

.p-inputtext {
  all: unset !important;
  padding: 8px 16px !important;
  font-size: 2rem !important;
  border: 1px solid var(--accent-color-15) !important;
  width: 100% !important;
}

.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active {
  background-color: var(--accent-color-03) !important;
}

.error {
  color: var(--error-color);
  font-size: 1.6rem;
}

.button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
