<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="password-container">
    <div class="settings-password-item">
      <label for="currentPassword" class="settings-password-label"
        >Aktualne hasło</label
      >
      <div class="settings-input-wrapper">
        <i class="pi pi-asterisk"></i>
        <input
          type="password"
          pInputText
          id="currentPassword"
          formControlName="currentPassword"
          fluid
        />
      </div>
      <div
        class="settings-password-error-message"
        *ngIf="currentPassword?.touched && currentPassword?.invalid"
      >
        <div *ngIf="currentPassword?.errors?.['required']">
          To pole jest wymagane.
        </div>
        <div *ngIf="currentPassword?.errors?.['minlength']">
          Hasło musi mieć minimum {{ minPassLength }} znaków.
        </div>
      </div>
    </div>
    <div class="settings-password-item">
      <label for="newPassword" class="settings-password-label">Nowe hasło</label>
      <div class="settings-input-wrapper">
        <i class="pi pi-asterisk"></i>
        <input
          type="password"
          pInputText
          id="newPassword"
          formControlName="newPassword"
          fluid
        />
      </div>
      <div
        class="settings-password-error-message"
        *ngIf="newPassword?.touched && newPassword?.invalid"
      >
        <div *ngIf="newPassword?.errors?.['required']">
          To pole jest wymagane.
        </div>
        <div *ngIf="newPassword?.errors?.['minlength']">
          Hasło musi mieć minimum {{ minPassLength }} znaków.
        </div>
      </div>
    </div>
    <div class="settings-password-item">
      <label for="repeatPassword" class="settings-password-label"
        >Powtórz nowe hasło</label
      >
      <div class="settings-input-wrapper">
        <i class="pi pi-asterisk"></i>
        <input
          type="password"
          pInputText
          id="repeatPassword"
          formControlName="repeatPassword"
          fluid
        />
      </div>
      <div
        class="settings-password-error-message"
        *ngIf="repeatPassword?.touched && repeatPassword?.invalid"
      >
        <div *ngIf="repeatPassword?.errors?.['required']">
          To pole jest wymagane.
        </div>
        <div *ngIf="repeatPassword?.errors?.['minlength']">
          Hasło musi mieć minimum {{ minPassLength }} znaków.
        </div>
      </div>
      <div
        class="settings-password-match-error-message"
        *ngIf="
          form.errors?.['passwordsMismatch'] &&
          (newPassword?.touched || repeatPassword?.touched)
        "
      >
        Nowe hasła muszą być identyczne.
      </div>
    </div>
    <div class="settings-password-submit-wrapper">
      <p-button
        label="Zmień hasło"
        icon="pi pi-save"
        type="submit"
        size="large"
        [disabled]="form.invalid || form.errors?.['passwordsMismatch']"
      />
    </div>
  </div>
</form>
