<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="password-container">
    <div class="item">
      <label for="currentPassword">Aktualne hasło</label>
      <input
        type="password"
        pInputText
        id="currentPassword"
        formControlName="currentPassword"
        fluid
      />
      <div
        class="error"
        *ngIf="currentPassword?.touched && currentPassword?.invalid"
      >
        <div *ngIf="currentPassword?.errors?.['required']">
          To pole jest wymagane.
        </div>
        <div *ngIf="currentPassword?.errors?.['minlength']">
          Hasło musi mieć więcej niż 6 znaków.
        </div>
      </div>
    </div>
    <div class="item">
      <label for="newPassword">Nowe hasło</label>
      <input
        type="password"
        pInputText
        id="newPassword"
        formControlName="newPassword"
        placeholder="Wpisz nowe hasło"
        fluid
      />
      <div class="error" *ngIf="newPassword?.touched && newPassword?.invalid">
        <div *ngIf="newPassword?.errors?.['required']">
          To pole jest wymagane.
        </div>
        <div *ngIf="newPassword?.errors?.['minlength']">
          Hasło musi mieć więcej niż 6 znaków.
        </div>
      </div>
    </div>
    <div class="item">
      <label for="repeatPassword">Powtórz nowe hasło</label>
      <input
        type="password"
        pInputText
        id="repeatPassword"
        formControlName="repeatPassword"
        placeholder="Powtórz nowe hasło"
        fluid
      />
      <div
        class="error"
        *ngIf="repeatPassword?.touched && repeatPassword?.invalid"
      >
        <div *ngIf="repeatPassword?.errors?.['required']">
          To pole jest wymagane.
        </div>
        <div *ngIf="repeatPassword?.errors?.['minlength']">
          Hasło musi mieć więcej niż 6 znaków.
        </div>
      </div>
    </div>

    <div
      class="error"
      *ngIf="form.errors?.['passwordsMismatch'] && (newPassword?.touched || repeatPassword?.touched)"
    >
      Nowe hasła muszą być identyczne.
    </div>
    <div class="submit-wrapper">
      <p-button
        label="Zmień hasło"
        icon="pi pi-save"
        type="submit"
        size="large"
        [disabled]="form.invalid || form.errors?.['passwordsMismatch']"
      />
    </div>
  </div>
</form>
