.send-files-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 500px;
}

.dialog-header {
  color: var(--accent-color-14);
}

.send-files-wrapper i {
  font-size: 50px;
  color: var(--accent-color-10);
}

.send-files-wrapper i:hover {
  color: var(--accent-color-13);
}

.file-limit {
  font-size: 1rem;
  color: var(--error-color);
}

.send-file-directory-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  width: 100%;
}

.send-file-directory-wrapper label {
  color: var(--accent-color-10);
  font-size: 2rem;
}

.p-select {
  display: flex !important;
  padding: 0px 8px !important;
  font-size: 2rem !important;
  font-weight: normal !important;
  border-radius: 0 !important;
  border: 1px solid var(--accent-color-13) !important;
  background-color: white !important;
  width: 300px !important;
}

.p-select:hover {
  background-color: var(--accent-color-03) !important;
}

.p-select-label {
  color: var(--accent-color-10) !important;
}

.upload-blocker {
  position: absolute;
  z-index: 999;
  top: 160px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  animation: fadeIn 0.4s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.p-select.p-variant-filled {
  background-image: none !important;
}

.select-span {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
}

.select-span i {
  font-size: 16px;
}
