<p-dialog
  header="Dołącz pliki do zestawienia: {{ setName }}"
  [modal]="true"
  [(visible)]="showSendFilesDialog"
  [style]="{ width: '100rem' }"
  [dismissableMask]="true"
>
  <p-progressBar [value]="uploadProgress"></p-progressBar>
  <div class="directory-wrapper" *ngIf="who === 'user'">
    <label for="directory" class="label">Wybierz katalog docelowy</label>
    <p-select
      name="selectedDirectory"
      optionLabel="label"
      id="directory"
      (onShow)="onSelectOpen()"
      [options]="directoryList"
      [(ngModel)]="selectedDirectory"
    >
      <ng-template pTemplate="item" let-option>
        <span class="select-span">
          <span>{{ option.label }}</span>
          <i
            *ngIf="option.icon"
            [class]="option.icon"
            pTooltip="{{ option.title }}"
            tooltipPosition="right"
            tooltipShowDelay="300"
          ></i>
        </span>
      </ng-template>

      <ng-template pTemplate="selectedItem" let-value>
        <span class="select-span" *ngIf="value">
          <span>{{ value.label }}</span>
          <i *ngIf="value.icon" [class]="value.icon"></i>
        </span>
      </ng-template>
    </p-select>
  </div>
  <div [ngClass]="!selectedDirectory ? 'upload-blocker' : ''"></div>
  <p-fileupload
    #fileUploader
    [customUpload]="true"
    (uploadHandler)="uploadFiles($event)"
    [multiple]="true"
    [uploadButtonProps]="uploadButtonProps"
    [cancelButtonProps]="cancelButtonProps"
    [chooseButtonProps]="chooseButtonProps"
    mode="advanced"
    [fileLimit]="fileLimit"
    maxFileSize="1000000000"
  >
    <ng-template #empty>
      <div class="send-files-wrapper">
        <i class="pi pi-cloud-upload" (click)="openFileDialogManually()"></i>
        <span class="file-limit">Maksymalnie {{ fileLimit }} plików</span>
      </div>
    </ng-template>
    <ng-template #content>
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileupload>
</p-dialog>
