.positions-item {
  display: grid;
  padding: 20px 0;
  grid-template-columns: auto repeat(4, 1fr);
  background-color: var(--accent-color-01);
  border-bottom: 3px solid var(--accent-color-09);
  gap: 0px;
}

.product-lp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding: 0 5px;
  color: var(--accent-color-13);
}

.product-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  background-color: var(--accent-color-01);
}

.product-img {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img i {
  height: 300px;
  font-size: 150px;
  color: var(--neutral-color-04);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.product-img img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 15px;
}

.product-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 5px;
  height: 100px;
}

.product-title {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.product-name {
  font-size: 2rem;
  color: var(--accent-color-13);
}

.position-action-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
  padding: 0;
}

.comments-wrapper {
  font-size: 2rem;
  color: var(--accent-color-09);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  transition: color 0.2s ease;
}

.link-wrapper {
  width: 100%;
}

.comments-cell {
  position: relative;
  width: 40px;
  height: 40px;
}

.nr-comments {
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: auto;
}

.link {
  gap: 10px;
  font-size: 2rem;
  color: var(--accent-color-09);
  font-weight: 700;
  transition: color 0.2s ease;
}

.link i,
.comments-cell i {
  font-size: 3rem;
  color: var(--accent-color-09);
  transition: color 0.2s ease;
}

.cursor-pointer {
  cursor: pointer;
}

.product-status {
  position: relative;
}

.status-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: var(--primary-color) !important;
}

.product-buttons {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--neutral-color-01);
  border: 1px solid #606060 !important;
  box-shadow: 0px 0px 10px -4px #c4c4c450;
}

.product-buttons:hover {
  border: 1px solid #000000 !important;
  box-shadow: 0px 0px 10px -4px #000000;
}

/* MOBILE  */
@media (max-width: 768px) {
  .positions-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .product-lp {
    position: absolute;
    top: -1px;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    color: var(--accent-color-01);
    background-color: var(--accent-color-09);
  }

  .product-img-wrapper {
    width: 100%;
    justify-content: center;
    padding: 10px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }

  .product-price {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;

    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    padding: 10px;
    margin-top: 10px;
    z-index: 10;
  }

  .product-group {
    /* padding: 10px 0 0 0; */
    height: auto;
    width: 100%;
  }

  .product-status {
    position: absolute;
    bottom: -60px;
    gap: 0;
    padding: 0;
  }

  .product-status .product-title {
    padding-top: 10px;
  }

  .product-group-price {
    align-items: center;
  }

  .product-group-price .product-title {
    color: var(--white-color);
  }

  .product-group-price .product-name {
    color: var(--accent-color-05);
  }

  .product-title {
    font-size: 1rem;
    padding: 0 10px;
  }

  .product-name {
    font-size: 1.6rem;
    padding: 0 10px;
  }

  .comments-wrapper {
    font-size: 1.8rem;
    gap: 10px;
  }

  .link {
    gap: 10px;
    font-size: 1.8rem;
  }

  .link i,
  .comments-cell i {
    font-size: 2rem;
  }

  .comments-cell {
    width: 20px;
    height: 20px;
  }

  .status-wrapper {
    border-radius: 0px;
    padding: 10px;
  }

  .position-action-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 0;
  }
}
