<app-send-files who="user" (updateFileList)="updateAttachedFiles($event)" />
<app-show-files who="user" (deleteFiles)="onDeleteFile($event)" />

<p-menubar [model]="menuItems">
  <ng-template #item let-item let-root="root">
    <div class="flex-center">
      <a pRipple class="menu-item">
        <i class="menu-icon m-4 {{ item.icon }}"></i>
        <div class="menu-label-wrapper">
          <span class="menu-label">
            {{ item.label }}
          </span>
          <span class="menu-label-email" *ngIf="item.email">
            {{ item.email }}
          </span>
          <span class="menu-label-send-at" *ngIf="item.sendAt">
            {{ item.sendAt }}
          </span>
        </div>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="item.badgeStyleClass || ''"
          [value]="item.badge"
        />
        <i
          *ngIf="item.items"
          [ngClass]="[
            'menu-icon-arrow m-4 pi',
            root ? 'pi-angle-down' : 'pi-angle-right',
          ]"
        ></i>
      </a>

      <div class="btn-wrapper">
        <button
          class="menu-label-preview"
          *ngIf="item.preview"
          type="button"
          (click)="
            item.preview(); $event.stopPropagation(); $event.preventDefault()
          "
        >
          <i class="pi pi-eye m-2" [pTooltip]="item.previewTooltip"></i>
        </button>

        <button
          class="menu-label-preview"
          *ngIf="item.preview"
          type="button"
          (click)="
            item.copy(); $event.stopPropagation(); $event.preventDefault()
          "
        >
          <i class="pi pi-copy m-2" [pTooltip]="item.previewCopyTooltip"></i>
        </button>
      </div>
    </div>
  </ng-template>
</p-menubar>

<p-dialog
  [(visible)]="editHeaderDialog"
  [style]="{ width: '650px' }"
  header="Edytuj zestawienie"
  [modal]="true"
  [dismissableMask]="true"
>
  <ng-template #content>
    <app-edit-header
      [editHeader]="editHeaderProps"
      (setHeaderChange)="onSetHeaderChange($event)"
      (closeModal)="hideDialog()"
    />
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="showEmailTemplate"
  [style]="{ width: '1000px', height: '100%' }"
  [header]="emailDialogHeader"
  [modal]="true"
  [dismissableMask]="true"
  (onShow)="onEmailDialogOpen()"
  (onHide)="onEmailDialogClose()"
>
  <ng-template #content>
    <app-send-email
      [set]="set"
      [supplier]="currentSupplier"
      [audienceMode]="currentSupplier ? 'supplier' : 'client'"
      (getEmailsList)="getEmailsList()"
      (hideEmailDialog)="hideEmailDialog()"
    />
  </ng-template>
</p-dialog>
