<app-send-files who="user" (updateFileList)="updateAttachedFiles($event)" />
<app-show-files who="user" (deleteFiles)="onDeleteFile($event)" />

<p-menubar [model]="menuItems">
  <ng-template #item let-item let-root="root">
    <div class="flex-center">
      <a pRipple class="menu-item">
        <i class="menu-icon m-4 {{ item.icon }}"></i>
        <div class="menu-label-wrapper">
          <span class="menu-label">
            {{ item.label }}
          </span>
          <span class="menu-label-email" *ngIf="item.email">
            {{ item.email }}
          </span>
          <span class="menu-label-send-at" *ngIf="item.sendAt">
            {{ item.sendAt }}
          </span>
        </div>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="item.badgeStyleClass || ''"
          [value]="item.badge"
        />
        <i
          *ngIf="item.items"
          [ngClass]="[
            'menu-icon-arrow m-4 pi',
            root ? 'pi-angle-down' : 'pi-angle-right'
          ]"
        ></i>
      </a>

      <button
        class="menu-label-preview"
        *ngIf="item.preview"
        type="button"
        (click)="item.preview(); $event.stopPropagation()"
      >
        <i class="pi pi-eye m-2" [pTooltip]="item.previewTooltip"></i>
      </button>
    </div>
  </ng-template>
</p-menubar>

<p-dialog
  [(visible)]="editHeaderDialog"
  [style]="{ width: '650px' }"
  header="Edytuj zestawienie"
  [modal]="true"
>
  <ng-template #content>
    <app-edit-header
      [editHeader]="editHeaderProps"
      (setHeaderChange)="onSetHeaderChange($event)"
      (closeModal)="hideDialog()"
    />
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="showEmailTemplate"
  [style]="{ width: '950px' }"
  header="Nowa wiadomość e-mail"
  [modal]="true"
>
  <ng-template #content>
    <app-email-send
      [set]="set"
      [supplier]="currentSupplier"
      (getEmailsList)="getEmailsList()"
      (hideEmailDialog)="hideEmailDialog()"
    />
  </ng-template>
</p-dialog>
