::ng-deep .p-menubar {
  border: 2px solid var(--accent-color-darker) !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

::ng-deep .p-menubar-root-list {
  gap: 0px !important;
}

::ng-deep .p-menubar-item {
  margin: 0 !important;
}

::ng-deep .p-menubar-item-content {
  padding: 8px 16px !important;
}

::ng-deep .p-menubar-item-content:hover {
  background-color: var(--accent-color-lighter) !important;
}

::ng-deep .p-menubar-item-content {
  border-radius: 0 !important;
}

::ng-deep .p-menubar-submenu {
  border-radius: 0 !important;
  min-width: 20rem !important;
  padding: 0 !important;
  z-index: 9999 !important;
}
::ng-deep .p-menubar-item-link {
  gap: 8px !important;
}

::ng-deep .p-menubar-item-active > .p-menubar-item-content {
  background-color: var(--accent-color-lighter) !important;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.8rem;
  color: var(--accent-color-darker);
}

.menu-label-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-label {
  font-size: 1.8rem;
}

.menu-label-email {
  font-size: 1.4rem;
  font-weight: 600;
}

.menu-icon-arrow {
  font-size: 1.4rem;
}
