::ng-deep .p-menubar {
  border: 2px solid var(--accent-color-13) !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

::ng-deep .p-menubar-root-list {
  gap: 0 !important;
}

::ng-deep .p-menubar-item {
  margin: 0 !important;
}

::ng-deep .p-menubar-item-content {
  padding: 8px 10px !important;
  transition: color 0.2s ease !important;
}

::ng-deep .p-menubar-item-content:hover {
  background-color: var(--accent-color-03) !important;
}

::ng-deep .p-menubar-item-content {
  border-radius: 0 !important;
}

::ng-deep .p-menubar-submenu {
  border-radius: 0 !important;
  min-width: 20rem !important;
  padding: 0 !important;
  z-index: 5 !important;
}
::ng-deep .p-menubar-item-link {
  gap: 8px !important;
}

::ng-deep .p-menubar-item-active > .p-menubar-item-content {
  background-color: var(--accent-color-03) !important;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 6px;
  width: 100%;
  cursor: pointer;
}

.menu-label-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  font-size: 1.8rem;
  color: var(--accent-color-13);
}

.menu-label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-label {
  font-size: 1.6rem;
}

.menu-label-email {
  font-size: 1.4rem;
  font-weight: 600;
}

.menu-label-send-at {
  font-size: 1.2rem;
  color: var(--neutral-color-darker);
}

.menu-icon-arrow {
  font-size: 1.4rem;
}

.menu-label-preview {
  padding: 4px;
  margin-left: 4px;
}

.menu-label-preview i {
  color: var(--accent-color-13);
  font-size: 2.4rem;
  transition: color 0.2s ease;
}

.menu-label-preview i:hover {
  color: var(--error-color);
}
