:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.card {
  width: 1200px;
}

.total {
  font-size: 1.4rem;
}

.wrapper {
  font-size: 3rem;
  padding: 0 10px;
}

.input {
  font-size: 2rem;
}

.error {
  color: var(--error-color);
  font-size: 1.6rem;
}

label {
  margin-top: 20px;
  display: block;
}

.search-wrapper {
  position: absolute;
  top: -50px;
  left: 200px;
  display: flex;
}

.search-input {
  display: flex;
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  width: 300px;
  color: rgb(0, 0, 0) !important;
}
