:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.card {
  width: 1200px;
}

.spinner {
  margin-top: 100px;
}

.total {
  position: absolute;
  font-size: 1.4rem;
  bottom: 0;
  left: 0;
}

.error {
  color: var(--error-color);
  font-size: 1.6rem;
}

.error-container {
  height: 35px;
}

label {
  margin-top: 20px;
  display: block;
  color: var(--accent-color);
  font-size: 2rem;
}

.search-wrapper {
  position: absolute;
  top: -50px;
  left: 200px;
  display: flex;
}

tr {
  cursor: pointer;
}

.new-supplier-wrapper {
  font-size: 3rem;
  padding: 0 10px;
  margin: 0 30px;
}

.field {
  position: relative;
  width: 633px !important;
}

i {
  position: absolute;
  cursor: default;
  top: 10px;
  right: -10px;
  color: var(--error-color);
  font-size: 16px;
}

.p-inputtext {
  all: unset !important;
  padding: 8px 16px !important;
  font-size: 3rem !important;
  border: 1px solid var(--accent-color-darker) !important;
  width: 600px !important;
}

.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active {
  background-color: var(--accent-color-lighter) !important;
}

.search-input {
  display: flex !important;
  font-size: 1rem !important;
  padding: 8px 24px !important;

  font-weight: normal !important;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  width: 300px !important;
  color: rgb(0, 0, 0) !important;
}
