<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner [size]="200"></app-loading-spinner>
</div>

<div *ngIf="!isLoading" class="card">
  <p-toolbar>
    <ng-template #start>
      <p-button
        severity="primary"
        label="Nowy"
        icon="pi pi-plus"
        size="large"
        alt="Dodaj nowego dostawcę"
        pTooltip="Dodaj nowego dostawcę"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Usuń"
        icon="pi pi-trash"
        class="m-6"
        size="large"
        alt="Usuń zaznaczonych dostawców"
        pTooltip="Usuń zaznaczonych dostawców"
        (onClick)="deleteSelectedSupplier()"
        [disabled]="!selected || !selected.length"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="suppliers"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['firma', 'imie', 'nazwisko', 'email', 'telefon']"
    [tableStyle]="{ 'min-width': '105rem' }"
    [(selection)]="selected"
    [rowHover]="true"
    dataKey="id"
    stripedRows
    currentPageReportTemplate="{first} to {last}"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="search-wrapper">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            class="search-input"
            pTooltip="Filtruj dostawców"
            (input)="onGlobalFilter($event)"
            placeholder="Firma, imię, nazwisko, email, telefon"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox pTooltip="Zaznacz wszystkich" />
        </th>
        <th style="width: 10rem"></th>
        <th pSortableColumn="firma" style="min-width: 16rem">
          Firma
          <p-sortIcon field="firma" />
        </th>
        <th pSortableColumn="imie" style="min-width: 8rem">
          Imię
          <p-sortIcon field="imie" />
        </th>
        <th pSortableColumn="nazwisko" style="min-width: 8rem">
          Nazwisko
          <p-sortIcon field="nazwisko" />
        </th>
        <th pSortableColumn="email" style="min-width: 8rem">
          E-mail
          <p-sortIcon field="email" />
        </th>
        <th pSortableColumn="telefon" style="min-width: 6rem">
          Telefon
          <p-sortIcon field="telefon" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-supplier>
      <tr (click)="editSupplier(supplier)" class="row">
        <td style="width: 3rem" (click)="$event.stopPropagation()">
          <p-tableCheckbox
            [value]="supplier"
            pTooltip="Zaznacz dostawcę"
            [disabled]="supplier.positionCount !== 0"
          />
        </td>
        <td (click)="$event.stopPropagation()">
          <p-button
            icon="pi pi-pencil"
            class="m-4"
            alt="Edytuj dostawcę"
            pTooltip="Edytuj dostawcę"
            (click)="editSupplier(supplier)"
          />
          <p-button
            severity="danger"
            icon="pi pi-trash"
            class="m-4"
            alt="Usuń dostawcę"
            pTooltip="{{
              supplier.positionCount !== 0
                ? 'Dostawca widnieje w zestawieniach'
                : 'Usuń dostawcę'
            }}"
            [disabled]="supplier.positionCount !== 0"
            (click)="deleteSupplier(supplier)"
          />
        </td>
        <td style="min-width: 16rem">{{ supplier.firma }}</td>
        <td style="min-width: 10rem">{{ supplier.imie }}</td>
        <td style="min-width: 12rem">{{ supplier.nazwisko }}</td>
        <td style="min-width: 12rem">{{ supplier.email }}</td>
        <td style="min-width: 10rem">{{ supplier.telefon }}</td>
      </tr>
    </ng-template>
    <ng-template #summary>
      <div class="total">Razem {{ suppliers ? suppliers.length : 0 }}</div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="supplierDialog"
    [style]="{ width: '750px' }"
    header="{{supplierDialogHeader}}"
    [modal]="true"
  >
    <ng-template #content>
      <form [formGroup]="form">
        <div class="new-supplier-wrapper">
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="firma">Firma</label>
            <input
              type="text"
              pInputText
              id="firma"
              formControlName="firma"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['firma'].invalid &&
                  form.controls['firma'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['firma'].errors?.['required']"
                  >Firma jest wymagana.</span
                >
              </div>
            </div>
          </div>
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="imie">Imię</label>
            <input
              type="text"
              pInputText
              id="imie"
              formControlName="imie"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['imie'].invalid && form.controls['imie'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['imie'].errors?.['required']"
                  >Imię jest wymagane.</span
                >
              </div>
            </div>
          </div>
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="nazwisko">Nazwisko</label>
            <input
              type="text"
              pInputText
              id="nazwisko"
              formControlName="nazwisko"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['nazwisko'].invalid &&
                  form.controls['nazwisko'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['nazwisko'].errors?.['required']"
                  >Nazwisko jest wymagane.</span
                >
              </div>
            </div>
          </div>
          <div class="field">
            <i class="pi pi-asterisk"></i>
            <label for="email">E-mail</label>
            <input
              type="email"
              pInputText
              id="email"
              formControlName="email"
              fluid
            />
            <div class="error-container">
              <div
                *ngIf="
                  form.controls['email'].invalid &&
                  form.controls['email'].touched
                "
              >
                <span
                  class="error"
                  *ngIf="form.controls['email'].errors?.['required']"
                  >E-mail jest wymagany.</span
                >
                <span
                  class="error"
                  *ngIf="form.controls['email'].errors?.['email']"
                  >Niepoprawny format adresu e-mail.</span
                >
              </div>
            </div>
          </div>
          <div class="field">
            <label for="telefon">Telefon</label>
            <input
              type="text"
              pInputText
              id="telefon"
              formControlName="telefon"
              fluid
            />
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #footer>
      <p-button
        label="Anuluj"
        icon="pi pi-times"
        text
        (click)="hideDialog()"
        size="large"
      />
      <p-button
        label="Zapisz"
        icon="pi pi-check"
        (click)="saveSupplier()"
        size="large"
      />
    </ng-template>
  </p-dialog>
</div>
