.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.file-pdf,
.file-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--img-height);
  overflow: hidden;
  width: var(--img-container-width);
}

.file-other i {
  color: var(--accent-color-10);
  font-size: 80px;
}

.file-name-label {
  font-size: 1.2rem;
  text-align: center;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--accent-color-15);
}

.indicator {
  font-size: 80px;
  color: var(--accent-color-10);
}

.preview {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.preview-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.preview-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 15px;
  width: 100%;
}

/* MOBILE  */
@media (max-width: 768px) {
  .action-btns {
    padding: 0;
  }

  .preview {
    height: 200px;
  }

  .preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .file-name-label {
    font-size: 1rem;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
