.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.file-pdf,
.file-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--img-height);
  overflow: hidden;
  width: var(--img-container-width);
}

.file-other i {
  color: var(--accent-color-10);
  font-size: 80px;
}

.preview {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  justify-content: space-between;
}

p {
  all: unset;
  font-size: 1.2rem;
  text-align: center;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--accent-color-10);
}

.indicator {
  font-size: 80px;
  color: var(--accent-color-10);
}
