.preview-container {
  display: grid;
  grid-template-rows: 1fr 40px 40px;
  gap: 10px;
  height: 100%;
}

.preview-file-wrapper {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
}

.preview-image-wrapper {
  position: relative;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.preview-image-wrapper img {
  border-radius: 10px;
}

.preview-file-name-label {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  color: var(--accent-color-09);
  padding-top: 5px;
}

.preview-action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}

.preview-file-wrapper.landscape img {
  width: 100%;
  object-fit: contain !important;
}

.preview-file-wrapper.portrait img {
  height: 100%;
}

.preview-image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.preview-image-wrapper:hover .preview-image-overlay {
  opacity: 1;
}

.preview-file-pdf,
.preview-file-other {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.preview-file-other {
  cursor: auto;
}

.preview-indicator,
.preview-file-other i {
  color: var(--accent-color-06);
  font-size: 80px;
  cursor: auto;
}

.preview-spinner {
  position: absolute;
  inset: 0px;
}

.preview-new-file-badge {
  position: absolute;
  top: 5px;
  right: 15px;
  color: var(--burgund-color-05);
  font-size: 1.6rem;
  font-weight: 700;
}

.preview-seen-file-badge {
  position: absolute;
  top: 5px;
  right: 5px;
}

.preview-seen-file-badge i {
  color: var(--accent-color-06);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: auto;
}

/* MOBILE  */
@media (max-width: 768px) {
  .preview-container {
    grid-template-rows: 1fr 40px 35px;
    gap: 5px;
  }

  .preview-file-name-label {
    font-size: 1rem;
  }
}
