.file-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin: 0 auto;
}

.file-container .file-item {
  position: relative;
  width: var(--img-container-width);
  height: 300px;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: var(--accent-color-03) !important;
  box-shadow: 5px 5px 10px -4px #3bbfa150;
}

.file-container .file-item:hover {
  box-shadow: 5px 5px 15px -4px #2b8a7580;
}

.file-container .file-item i {
  font-size: 80px !important;
  color: var(--accent-color-10);
  cursor: default;
}

.show-file-directory-wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 30px;
}

h3 {
  font-size: 2.4rem;
  color: var(--accent-color-10);
}

h3 i {
  font-size: 2rem;
  margin-right: 10px;
  color: var(--accent-color-10);
  cursor: auto;
}

.icons-top-action-btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  top: 14px;
  right: 200px;
  height: 45px;
}
/* MOBILE  */
@media (max-width: 768px) {
  .file-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
  }

  .show-file-directory-wrapper {
    gap: 10px;
    width: 100%;
    padding-top: 20px;
  }

  h3 {
    font-size: 1.4rem;
  }

  h3 i {
    font-size: 1rem;
    margin-right: 5px;
  }

  .icons-top-action-btns {
    gap: 10px;
    top: 14px;
    right: 130px;
  }

  .file-container .file-item {
    width: 150px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
  }

  .file-container .file-item i {
    font-size: 60px !important;
  }
}
