<div
  class="show-file-directory-wrapper"
  *ngFor="
    let directory of dirListWithShowOption;
    let i = index;
    trackBy: trackByDir
  "
>
  <div class="directory-container">
    <div
      class="directory-name-wrapper"
      [class.first]="i === 0"
      (click)="toggleVisibility(directory.dir)"
      [pTooltip]="directory.show ? 'Zwiń' : 'Rozwiń'"
      tooltipPosition="bottom"
      [ngClass]="{ 'collapsed-label': !directory.show }"
    >
      <i class="pi pi-folder-open"></i>
      {{ directory.dirLabel }}
      <i class="pi pi-chevron-up" *ngIf="directory.show"></i>
      <i class="pi pi-chevron-down" *ngIf="!directory.show"></i>
      <p-badge
        [value]="countFilesBadge(directory.dir)"
        severity="contrast"
        class="badge-position"
        [badgeSize]="isMobile ? 'small' : 'large'"
      ></p-badge>
    </div>
    <p-checkbox
      [binary]="true"
      [ngModel]="isDirectoryChecked(directory.dir)"
      [indeterminate]="isDirectoryIndeterminate(directory.dir)"
      (onChange)="onDirectoryCheckboxChange(directory, $event)"
      size="large"
      pTooltip="Zaznacz pliki"
      tooltipPosition="bottom"
    />
  </div>

  <div class="file-container-wrapper" [class.collapsed]="!directory.show">
    <ul class="file-container">
      <li
        class="file-item"
        *ngFor="let file of filesFilteredByDir(directory.dir)"
      >
        <app-file-preview
          [who]="who"
          [file]="file"
          [files]="this.files"
          [selectedFiles]="selectedFiles"
          (addFileToSelected)="addFileToSelected(file)"
          (delete)="deleteFile(file.id)"
          (download)="downloadFile(file.id)"
          (openPdf)="openPdf(file)"
          (openGalery)="openGalery(file)"
          (fileVisible)="fileVisible.emit($event)"
        ></app-file-preview>
      </li>
    </ul>
  </div>
</div>
<app-image-gallery #imageGallery></app-image-gallery>
