<div class="icons-top-action-btns">
  <p-checkbox
    size="large"
    pTooltip="Zaznacz wszystkie pliki"
    tooltipPosition="bottom"
    (onChange)="selectAll.emit($event)"
    [binary]="true"
    [ngModel]="allSelected"
  />
  <p-button
    severity="info"
    icon="pi pi-download"
    alt="Pobierz pliki"
    pTooltip="Pobierz pliki"
    tooltipPosition="bottom"
    (click)="downloadFiles.emit()"
    [disabled]="countSelectedFiles() === 0"
  />
  <p-button
    severity="danger"
    icon="pi pi-trash"
    alt="Usuń pliki"
    pTooltip="Usuń pliki"
    tooltipPosition="bottom"
    [disabled]="isDeleteDisabled"
    (click)="deleteFiles.emit()"
  />
</div>
<div
  class="show-file-directory-wrapper"
  *ngFor="
    let directory of dirListWithShowOption;
    let i = index;
    trackBy: trackByDir
  "
>
  <div
    class="directory-name-wrapper"
    [class.first]="i === 0"
    (click)="toggleVisibility(directory.dir)"
    [pTooltip]="directory.show ? 'Zwiń' : 'Rozwiń'"
    tooltipPosition="bottom"
    [ngClass]="{ 'collapsed-label': !directory.show }"
  >
    <i class="pi pi-folder-open"></i>
    {{ directory.dirLabel }}
    <i class="pi pi-chevron-up" *ngIf="directory.show"></i>
    <i class="pi pi-chevron-down" *ngIf="!directory.show"></i>
    <p-badge
      [value]="countFilesBadge(directory.dir)"
      severity="contrast"
      class="badge-position"
      [badgeSize]="isMobile ? 'small' : 'large'"
    ></p-badge>
  </div>

  <div class="file-container-wrapper" [class.collapsed]="!directory.show">
    <ul class="file-container">
      <li
        class="file-item"
        *ngFor="let file of filesFilteredByDir(directory.dir)"
      >
        <app-file-preview
          [file]="file"
          [who]="who"
          [files]="this.files"
          (delete)="deleteFile(file.id)"
          (addFileToSelected)="addFileToSelected(file)"
          (download)="downloadFile(file.id)"
          (openPdf)="openPdf(file)"
          (openGalery)="openGalery(file)"
          (fileVisible)="fileVisible.emit($event)"
        ></app-file-preview>
      </li>
    </ul>
  </div>
</div>
<app-image-gallery #imageGallery></app-image-gallery>
