.send-emails-list-wrapper {
  width: var(--screen-width);
  margin: 10px auto;
}

::ng-deep .p-toolbar {
  width: var(--screen-width);
}

.cursor-pointer {
  cursor: pointer;
}

tr {
  font-size: 1.8rem;
  padding: 0 !important;
}

th {
  padding: 1rem 0.5rem !important;
}

::ng-deep .custom-table .p-datatable-tbody > tr > td {
  padding: 1rem 0.5rem;
}

.total {
  position: absolute;
  font-size: 1.4rem;
  bottom: 0;
  left: 0;
}

.search-wrapper {
  display: flex;
  margin-bottom: 20px !important;
}

.search-input {
  display: flex !important;
  font-size: 1rem !important;
  padding: 8px 24px !important;
  font-weight: normal !important;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  width: 400px !important;
  color: rgb(0, 0, 0) !important;
}

.i-client {
  color: var(--btn-primary-bg);
}

.i-supplier {
  color: var(--btn-info-bg);
}

.link {
  color: var(--accent-color-13);
  font-size: 2rem;
}

.col-lp {
  text-align: center;
}

.email-type {
  cursor: auto;
  text-align: center;
}

.email-type i {
  font-size: 1.8rem;
}

.no-action {
  cursor: auto;
}
