.settings-avatar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px 0;
}

.settings-avatar-label {
  color: var(--accent-color-06);
  font-size: 4rem;
  font-weight: 800;
}

.setting-avatar-header {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 12px;
}

.setting-avatar-header i {
  font-size: 4rem;
  color: var(--accent-color-06);
}

.setting-avatar-header i:hover {
  color: var(--accent-color-08);
}

.settings-avatar-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid transparent;
}

.setting-avatar-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.settings-avatar {
  position: relative;
  flex-direction: column;
  gap: 4px;
}

.settings-avatar span {
  font-size: 1.4rem;
}

.selected-avatar {
  border: 2px solid var(--burgund-color-06);
}

.selected-avatar-hover:hover {
  border: 2px solid var(--burgund-color-06);
}

.question-icon,
.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--neutral-color-03);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  background-color: var(--neutral-color-05);
}

.question-icon:hover {
  background-color: var(--accent-color-06);
}

.delete-icon:hover {
  background-color: var(--error-color);
}

.settings-avatar:hover .question-icon,
.settings-avatar:hover .delete-icon {
  opacity: 1;
  visibility: visible;
}

.img-delete {
  height: 150px;
  border-radius: 50%;
}

.delete-file-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  width: 750px !important;
}

.delete-file-wrapper span {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}
/* MOBILE  */
@media (max-width: 768px) {
  .settings-avatar-container {
    padding: 8px;
  }

  .setting-avatar-images {
    gap: 12px;
  }

  .settings-avatar-label {
    font-size: 2rem;
  }

  .settings-avatar-image {
    height: 60px;
    width: 60px;
  }
}
