<div class="position-actions flex-center">
  <p-button
    severity="contrast"
    icon="pi pi-bars"
    class="m-4"
    alt="Przegiągnij, aby zmienić pozycję"
    pTooltip="Przegiągnij, aby zmienić pozycję"
    pReorderableRowHandle
  />
  <div class="btn-comments-wrapper">
    <p-button
      icon="pi pi-comments"
      class="m-4"
      severity="info"
      alt="Zobacz komentarze"
      pTooltip="Zobacz komentarze"
      (click)="showComments(positionId)"
    />
    <p-badge
      [value]="getRowNewComments(positionId) || getRowAllComments(positionId)"
      [severity]="
        getRowNewComments(positionId)
          ? 'danger'
          : getRowAllComments(positionId)
          ? 'contrast'
          : 'secondary'
      "
      class="nr-comments"
      badgeSize="large"
      [pTooltip]="
        getRowNewComments(positionId)
          ? 'Ilość nowych komentarzy'
          : 'Ilość komentarzy'
      "
    ></p-badge>
  </div>
  <p-button
    severity="primary"
    icon="pi pi-plus"
    class="m-4"
    alt="Nowa pusta pozycja"
    pTooltip="Nowa pusta pozycja"
    (click)="triggerAddEmptyPosition()"
  />

  <p-button
    severity="warn"
    icon="pi pi-clone"
    class="m-4"
    alt="Klonuj pozycję"
    pTooltip="Klonuj pozycję"
    (click)="triggerClonePosition()"
  />
  <p-button
    severity="danger"
    class="m-4"
    icon="pi pi-trash"
    alt="Usuń pozycję"
    pTooltip="Usuń pozycję"
    (click)="triggerDeletePosition()"
  />
</div>
<p-dialog
  [header]="header"
  [modal]="true"
  [(visible)]="showCommentsDialog"
  [style]="{ width: '70rem' }"
>
  <app-comments
    [comments]="comments"
    [positionId]="positionId"
    [setId]="setId"
    [commentsDialog]="showCommentsDialog"
  />
</p-dialog>
