.position-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nr-comments {
  position: absolute;
  top: -10px;
  right: -5px;
  cursor: auto;
}

.btn-comments-wrapper {
  position: relative;
}

::ng-deep .p-dialog-title {
  color: var(--accent-color-13) !important;
}

::ng-deep .p-dialog-close-button {
  color: var(--accent-color-13) !important;
}

::ng-deep .p-dialog-close-button:hover {
  background-color: var(--accent-color-03) !important;
}
