<div class="position-actions">
  <p-button
    severity="success"
    icon="pi pi-plus"
    class="m-4"
    alt="Nowa pusta pozycja"
    pTooltip="Nowa pusta pozycja"
    (click)="triggerAddEmptyPosition()"
  />
  <p-button
    severity="success"
    icon="pi pi-clone"
    class="m-4"
    alt="Klonuj pozycję"
    pTooltip="Klonuj pozycję"
    (click)="triggerClonePosition()"
  />
  <p-button
    severity="success"
    class="m-4"
    icon="pi pi-trash"
    alt="Usuń pozycję"
    pTooltip="Usuń pozycję"
    (click)="triggerDeletePosition()"
  />
  <div class="btn-comments-wrapper">
    <p-button
      icon="pi pi-comments"
      class="m-4"
      severity="success"
      alt="Zobacz komentarze"
      pTooltip="Zobacz komentarze"
      (click)="triggerShowComments()"
    />
    <p-badge
      [value]="getRowNewComments(positionId) || getRowAllComments(positionId)"
      [severity]="
        getRowNewComments(positionId)
          ? 'danger'
          : getRowAllComments(positionId)
          ? 'contrast'
          : 'secondary'
      "
      class="nr-comments"
      badgeSize="large"
      [pTooltip]="
        getRowNewComments(positionId)
          ? 'Ilość nowych komentarzy'
          : 'Ilość komentarzy'
      "
    ></p-badge>
  </div>
</div>
