.legend-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  padding: 12px 0;
}

.legend {
  color: var(--neutral-color-01);
  background-color: var(--neutral-color-10);
}

.legend-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
}
