<p-dialog
  header="Pliki dołączone do zestawienia"
  [modal]="true"
  [(visible)]="showFilesDialog"
  [style]="{ width: '90%', maxWidth: '100rem' }"
>
  <div class="file-wrapper">
    <div class="title">Załączniki</div>
    <ul *ngIf="attachments.length > 0">
      <li *ngFor="let file of attachments">
        @if(file.extension === 'JPEG' || file.extension === 'JPG' ||
        file.extension === 'PNG') {
        <!-- show image files -->
        <div class="flex-center">
          <p-image
            [src]="file.path"
            [preview]="true"
            alt="Załączony plik"
            pTooltip="Powiększ"
          >
            <ng-template #indicator>
              <i class="pi pi-search-plus"></i>
            </ng-template>
            <ng-template #image>
              <img [src]="file.path" alt="Załączony plik" />
            </ng-template>
            <ng-template
              #preview
              let-style="style"
              let-previewCallback="previewCallback"
            >
              <img
                [src]="file.path"
                alt="Załączony plik"
                [style]="style"
                (click)="previewCallback()"
              />
            </ng-template>
          </p-image>
        </div>
        } @else if(file.extension === 'PDF') {
        <!-- show PDF files -->
        <div class="file-pdf">
          <!-- <i class="pi pi-file-pdf"></i> -->
          <app-pdf-thumbnail [pdfUrl]="file.path"></app-pdf-thumbnail>

        </div>
        } @else {
        <!-- show other files -->
        <div class="file-pdf">
          <i class="pi pi-file"></i>
        </div>
        }
        <p>{{ file.name }}</p>
        <div class="action-btns">
          <p-button
            severity="info"
            class="m-4"
            icon="pi pi-download"
            alt="Pobierz plik"
            pTooltip="Pobierz plik"
            tooltipPosition="bottom"
            (click)="downloadFile(file.id)"
          />
          <p-button
            severity="danger"
            class="m-4"
            icon="pi pi-trash"
            alt="Usuń plik"
            pTooltip="Usuń plik"
            tooltipPosition="bottom"
            (click)="deleteFile(file.id)"
          />
        </div>
      </li>
    </ul>
    <div class="title">Zestawienia w PDF</div>
    <ul *ngIf="attachments.length > 0">
      <li *ngFor="let file of attachmentsPdf">
        <div class="file-pdf">
          <!-- <i class="pi pi-file-pdf"></i> -->
          <app-pdf-thumbnail [pdfUrl]="file.path"></app-pdf-thumbnail>
        </div>
        <p>{{ file.name }}</p>
        <div class="action-btns">
          <p-button
            severity="info"
            class="m-4"
            icon="pi pi-download"
            alt="Pobierz plik"
            pTooltip="Pobierz plik"
            tooltipPosition="bottom"
            (click)="downloadFile(file.id)"
          />
          <p-button
            severity="danger"
            class="m-4"
            icon="pi pi-trash"
            alt="Usuń plik"
            pTooltip="Usuń plik"
            tooltipPosition="bottom"
            (click)="deleteFile(file.id)"
          />
        </div>
      </li>
    </ul>
  </div>
</p-dialog>
