@import "primeicons/primeicons.css";

:root {
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #C2185B;
  --error-color: #e91e63;
  --bg-color: FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

a,
ul,
li,
button {
  all: unset;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  margin: 0 auto;
  padding: 0;
}
