@import "tailwindcss-primeui";

.pi {
  font-family: "PrimeIcons" !important;
}

html {
  --primary-color: #212121;
  --secondary-color: #f4f3f3;
  --neutral-color: #e9efed;
  --neutral-color-dark: #c9cfcd;
  --neutral-color-darker: #919191;

  --table-header-bc: #ebebeb;

  --accent-color-01: #f7fdfb;
  --accent-color-02: #e2f6f1;
  --accent-color-03: #cdefe8;
  --accent-color-04: #b8e9de;
  --accent-color-05: #a2e2d4;
  --accent-color-06: #8ddcca;
  --accent-color-07: #78d5c0;
  --accent-color-08: #63cfb6;
  --accent-color-09: #4ec8ac;

  --accent-color-10: #3bbfa1;

  --accent-color-11: #36ad92;
  --accent-color-12: #309c83;
  --accent-color-13: #2b8a75;
  --accent-color-14: #257966;
  --accent-color-15: #206757;
  --accent-color-16: #1a5648;
  --accent-color-17: #154439;
  --accent-color-18: #10332b;
  --accent-color-19: #0a211c;
  --accent-color-20: #05100d;

  --burgund-color-01: #ffdce6;
  --burgund-color-02: #fbc4d3;
  --burgund-color-03: #f3abbc;
  --burgund-color-04: #e691a4;
  --burgund-color-05: #d7788d;
  --burgund-color-06: #c46076;
  --burgund-color-07: #ad4860;
  --burgund-color-08: #943049;
  --burgund-color-09: #7a1a35;

  --burgund-color-10: #600a21;

  --burgund-color-11: #55091e;
  --burgund-color-12: #4a071a;
  --burgund-color-13: #3f0617;
  --burgund-color-14: #350513;
  --burgund-color-15: #2b040f;
  --burgund-color-16: #22030c;
  --burgund-color-17: #1a0209;
  --burgund-color-18: #120206;
  --burgund-color-19: #0b0104;
  --burgund-color-20: #030001;

  --error-color: #e91e63;
  --edit-color: #e691a4;

  --white-color: #fff;
  --black-color: #000;

  --primary-bg-color: #f4f3f3;
  --secondary-bg-color: #212121;
  --neutral-bg-color: #e9efed;

  /* position status color  */
  --status-pink-color: #ffc1c8a2;
  --status-green-color: #58ac1ba4;
  --status-red-color: #de10398f;
  --status-lightgreen-color: #c0f4c8db;
  --status-yellow-color: #f1f659b9;

  /* position row height  */
  --row-height: 190px;

  /* nadpisuje domyślny kolor Primeng - Material Theme*/
  /* --p-primary-color: #600a20 !important; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

a,
ul,
li,
button {
  all: unset;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  margin: 0 auto;
  padding: 0;
}

i {
  cursor: pointer;
}

.row-pink {
  background-color: var(--status-pink-color) !important;
}

.row-green {
  background-color: var(--status-green-color) !important;
}

.row-red {
  background-color: var(--status-red-color) !important;
}

.row-lightgreen {
  background-color: var(--status-lightgreen-color) !important;
}

.row-yellow {
  background-color: var(--status-yellow-color) !important;
}
