.menu-background {
  display: flex;
  justify-content: center;
  background-color: var(--app-menu-bg);
  width: 100%;
}

.menu {
  display: flex;
  width: var(--screen-width);
  padding: 16px 0;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: start;
  background-color: var(--app-menu-bg);
  color: var(--neutral-color-03);
}

li {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1.8rem;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

li:hover,
.logout:hover,
.selected {
  color: var(--accent-color-04);
}

.logout {
  display: flex;
  color: var(--neutral-color-03);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 12px;
}

.icon {
  font-size: 2rem;
}

.avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.logout-wrapper {
  display: flex;
  gap: 16px;
}
