.menu-background {
  display: flex;
  justify-content: center;
  background-color: var(--app-menu-bg);
  width: 100%;
  padding: 1rem 0;
}

.menu {
  display: flex;
  width: var(--screen-width);
  padding: 1rem 0;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  gap: 3rem;
  width: 100%;
  justify-content: start;
  background-color: var(--app-menu-bg);
  color: var(--secondary-color);
}

li {
  cursor: pointer;
  padding: 6px 10px;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li:hover,
.logout:hover,
.selected {
  color: var(--accent-color-10);
}

.logout {
  display: flex;
  color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.icon {
  font-size: 2rem;
}

.avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.logout-wrapper {
  display: flex;
  gap: 15px;
}
