<div class="menu-background">
  <div class="menu">
    <ul class="menu-wrapper">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.routerLink" routerLinkActive="selected"
          ><i class="pi {{ item.icon }} icon"></i>{{ item.label }}
        </a>
      </li>
    </ul>
    <div class="logout-wrapper">
      <button type="button" class="logout" (click)="logout()">
        <i class="pi pi-sign-out icon"></i>
      </button>
      <div class="flex-center">
        <img
          [src]="'assets/images/avatars/users/' + userId() + '.png'"
          alt="avatar"
          class="avatar-image"
        />
      </div>
    </div>
  </div>
</div>
