.card {
  width: 1400px;
  margin-left: 200px;
  height: 500px;
}

.field {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
}

::ng-deep .p-select,
::ng-deep input {
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  color: rgb(0, 0, 0) !important;
}

.status-wrapper {
  width: 100%;
}

::ng-deep .p-datatable-filter {
  width: 200px;
}
