.card {
  width: var(--screen-width);
  margin: 10px auto;
}

tr {
  cursor: pointer;
  font-size: 1.8rem;
}

.lp {
  text-align: center;
}

.search-input {
  display: flex !important;
  font-size: 1rem !important;
  padding: 8px 24px !important;
  font-weight: normal !important;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  width: 300px !important;
  color: rgb(0, 0, 0) !important;
}

.search-wrapper {
  position: absolute;
  top: -41px;
  left: 120px;
  display: flex;
}

.total {
  position: absolute;
  bottom: 0;
  left: 0;
}

::ng-deep .p-toolbar {
  width: var(--screen-width);
}

.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active {
  background-color: var(--accent-color-03) !important;
}

.action-btn-wrapper {
  display: flex;
  align-items: center;
  width: 20rem;
}

.nr-comments {
  position: absolute;
  top: -10px;
  right: -5px;
  cursor: auto;
}

.btn-comments-wrapper {
  position: relative;
}

.status-wrapper {
  margin-left: 400px;
  display: flex;
  gap: 20px;
  font-size: 1.4rem;
  color: var(--accent-color-10);
  align-items: center;
}
