<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner [size]="200"></app-loading-spinner>
</div>

<div *ngIf="!isLoading" class="card">
  <p-toolbar>
    <ng-template #start>
      <p-button
        severity="primary"
        label="Nowe"
        icon="pi pi-plus"
        size="large"
        alt="Nowe zestawienie"
        pTooltip="Nowe zestawienie"
        (onClick)="openNew()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="sets"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'clientId.firma',
      'clientId.email',
      'name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '105rem' }"
    [rowHover]="true"
    dataKey="id"
    stripedRows
    currentPageReportTemplate="{first} to {last}"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="search-wrapper">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            class="search-input"
            (input)="onGlobalFilter($event)"
            placeholder="Firma, email, nazwa, status"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">LP</th>
        <th style="width: 10rem"></th>
        <th pSortableColumn="clientId.firma">
          Firma
          <p-sortIcon field="clientId.firma" />
        </th>
        <th pSortableColumn="clientId.email">
          E-mail
          <p-sortIcon field="clientId.email" />
        </th>
        <th pSortableColumn="name">
          Nazwa
          <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status" />
        </th>
        <th pSortableColumn="createdAtTimestamp">
          Utworzone
          <p-sortIcon field="createdAtTimestamp" />
        </th>
        <th pSortableColumn="updatedAtTimestamp">
          Zaktualizowne
          <p-sortIcon field="updatedAtTimestamp" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-set let-i="rowIndex">
      <tr (click)="editSet(set.id)" class="row">
        <td>
          <div class="flex-center">
            {{ i + 1 }}
          </div>
        </td>
        <td (click)="$event.stopPropagation()">
          <p-button
            icon="pi pi-pencil"
            class="p-4"
            (click)="editSet(set.id)"
            alt="Edytuj zestawienie"
            pTooltip="Edytuj zestawienie"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            class="p-4"
            alt="Usuń Zestawienie"
            pTooltip="{{
              set.status !== statusesList.new
                ? 'Można usunąć tylko zestawienia ze statusem: Nowe'
                : 'Usuń Zestawienie'
            }}"
            [disabled]="set.status !== statusesList.new"
            (click)="deleteSet(set.id)"
          />
        </td>
        <td>{{ set.clientId.firma }}</td>
        <td>{{ set.clientId.email }}</td>
        <td>{{ set.name }}</td>
        <td>{{ set.status }}</td>
        <td>
          {{ set.createdAt }}
          {{ set.createdBy?.name ? "(" + set.createdBy?.name + ")" : "" }}
        </td>
        <td style="min-width: 10rem">
          {{ set.updatedAt }}
          {{ set.updatedBy?.name ? "(" + set.updatedBy?.name + ")" : "" }}
        </td>
      </tr>
    </ng-template>
    <ng-template #summary>
      <div class="total">Total {{ sets ? sets.length : 0 }}</div>
    </ng-template>
  </p-table>
</div>
