<app-send-files who="user" (updateFileList)="updateAttachedFiles($event)" />
<app-show-files who="user" (deleteFiles)="onDeleteFile($event)" />

<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner [size]="200"></app-loading-spinner>
</div>

<div *ngIf="!isLoading" class="card">
  <p-toolbar>
    <ng-template #start>
      <p-button
        severity="primary"
        label="Nowe"
        icon="pi pi-plus"
        size="large"
        alt="Nowe zestawienie"
        pTooltip="Nowe zestawienie"
        tooltipPosition="bottom"
        (onClick)="addNew()"
      />
      <div class="status-wrapper">
        <p-checkbox
          inputId="showClosedSets"
          [(ngModel)]="showClosed"
          (onChange)="showClosedSets()"
          binary="true"
        >
        </p-checkbox>
        <label
          (click)="showClosed = !showClosed; showClosedSets()"
          style="cursor: pointer"
        >
          Pokaż zamknięte zestawienia
        </label>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="sets"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['fullName', 'name', 'status', 'address']"
    [tableStyle]="{ 'min-width': '105rem' }"
    [rowHover]="true"
    dataKey="id"
    stripedRows
  >
    <ng-template #caption>
      <div class="search-wrapper">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            class="search-input"
            (input)="onGlobalFilter($event)"
            placeholder="Klient, inwestycja, adres, status"
            pTooltip="Filtruj zestawienia"
            tooltipPosition="bottom"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th class="lp">LP</th>
        <th style="width: 220px"></th>
        <th pSortableColumn="fullName">
          Klient
          <p-sortIcon field="fullName" />
        </th>
        <th pSortableColumn="name">
          Inwestycja
          <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="address">
          Adres inwestycji
          <p-sortIcon field="address" />
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status" />
        </th>
        <th pSortableColumn="createdAtTimestamp">
          Utworzone
          <p-sortIcon field="createdAtTimestamp" />
        </th>
        <th pSortableColumn="updatedAtTimestamp">
          Zaktualizowne
          <p-sortIcon field="updatedAtTimestamp" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-set let-i="rowIndex">
      <tr (click)="editSet(set.id)" class="row">
        <td>
          <div class="flex-center">
            {{ i + 1 }}
          </div>
        </td>
        <td (click)="$event.stopPropagation()">
          <div class="action-btn-wrapper">
            <p-button
              icon="pi pi-pencil"
              class="m-4"
              severity="primary"
              alt="Edytuj zestawienie"
              pTooltip="Edytuj zestawienie"
              tooltipPosition="bottom"
              (click)="editSet(set.id)"
            />
            <p-button
              icon="pi pi-trash"
              class="m-4"
              severity="danger"
              alt="Usuń Zestawienie"
              pTooltip="{{
                set.status !== statusesList.new
                  ? 'Można usunąć tylko zestawienia ze statusem: Nowe'
                  : 'Usuń Zestawienie'
              }}"
              tooltipPosition="bottom"
              [disabled]="set.status !== statusesList.new"
              (click)="deleteSet(set.id)"
            />
            <div class="btn-comments-wrapper">
              <p-button
                icon="pi pi-cloud"
                class="m-4"
                severity="warn"
                alt="Załączniki"
                pTooltip="{{
                  set.files?.length > 0
                    ? 'Pokaż załączniki'
                    : 'Brak załączników'
                }}"
                tooltipPosition="bottom"
                [disabled]="set.files?.length === 0"
                (click)="showAttachedFiles(set)"
              />
              <p-badge
                [value]="set.files?.length"
                [severity]="set.files?.length ? 'contrast' : 'secondary'"
                class="nr-comments"
                pTooltip="Ilość załączników"
              />
            </div>
            <p-button
              icon="pi pi-paperclip"
              class="m-4"
              severity="help"
              alt="Prześlij pliki"
              pTooltip="Prześlij pliki"
              tooltipPosition="bottom"
              (click)="openSendFilesDialog(set.id, set.hash, set.name)"
            />
            <div class="btn-comments-wrapper">
              <p-button
                icon="pi pi-comments"
                class="m-4"
                severity="info"
                alt="Zobacz komentarze"
                pTooltip="Zobacz komentarze"
                tooltipPosition="bottom"
                [disabled]="set?.comments?.length === 0"
                (click)="showAllComments(set.id)"
              />
              <p-badge
                [value]="getCommentsBadgeValue(set.id)"
                [severity]="getCommentsBadgeClass(set.id)"
                class="nr-comments"
                [pTooltip]="getCommentsTooltipInfo(set.id)"
              />
            </div>
          </div>
        </td>
        <td>{{ set.fullName }}</td>
        <td>{{ set.name }}</td>
        <td>{{ set.address }}</td>
        <td>{{ set.status }}</td>
        <td>
          {{ set.createdAt }}
          {{ set.createdBy?.name ? "(" + set.createdBy?.name + ")" : "" }}
        </td>
        <td style="min-width: 10rem">
          {{ set.updatedAt }}
          {{ set.updatedBy?.name ? "(" + set.updatedBy?.name + ")" : "" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
