.card {
  width: 1400px;
  margin-left: 200px;
}

tr {
  cursor: pointer;
  font-size: 1.8rem;
}

.search-input {
  display: flex;
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  width: 300px;
  color: rgb(0, 0, 0) !important;
}

.search-wrapper {
  position: absolute;
  top: -41px;
  left: 120px;
  display: flex;
}

.total {
  position: absolute;
  bottom: 0;
  left: 0;
}
