.positions-item {
  display: grid;
  padding: 20px 0;
  grid-template-columns: auto repeat(4, 1fr);
  background-color: var(--accent-color-01);
  border-bottom: 3px solid var(--accent-color-09);
  gap: 0px;
}

.product-lp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding: 0 5px;
  color: var(--accent-color-13);
}

.product-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  background-color: var(--accent-color-01);
}

.product-img {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 15px;
}

.product-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 5px;
  height: 80px;
}

.product-title {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.product-name {
  font-size: 2rem;
  color: var(--accent-color-13);
}

.position-action-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.comments-wrapper {
  font-size: 2rem;
  color: var(--accent-color-09);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.comments-cell {
  position: relative;
  width: 40px;
  height: 40px;
}

.nr-comments {
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: auto;
}

.link {
  gap: 10px;
  font-size: 2rem;
  color: var(--accent-color-09);
  font-weight: 700;
  transition: color 0.2s ease;
}

.link i,
.comments-cell i {
  font-size: 3rem;
  color: var(--accent-color-09);
  transition: color 0.2s ease;
}

.link:hover,
.link:hover i,
.comments-wrapper:hover,
.comments-wrapper:hover i {
  color: var(--accent-color-15);
}

.cursor-pointer {
  cursor: pointer;
}

.status-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: var(--primary-color) !important;
}
