td {
  padding: 0 !important;
  height: var(--row-height) !important;
  border: 1px solid var(--neutral-color-darker) !important;
}

th {
  border: 1px solid var(--neutral-color-darker) !important;
}

.set-container {
  width: 1200px;
}

.set-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color-darker);
  color: var(--secondary-color);
  width: 100%;
  padding: 20px;
}

.set-header-cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

.set-header-title {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.set-header-value {
  font-size: 2rem;
}

::ng-deep .p-tab {
  font-size: 1.4rem;
  background-color: var(--neutral-color);
}

::ng-deep .p-tab:hover,
::ng-deep .p-tab-active {
  background-color: var(--accent-color-lighter) !important;
}

.position-container {
  margin-top: 10px;
  border: 1px solid var(--neutral-color-darker);
  font-size: 1.2rem;
}

::ng-deep .p-tabpanels {
  padding: 0 !important;
}

::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.position-header {
  background-color: var(--table-header-bc);
  height: 50px;
}

.add-position {
  text-align: center;
  padding: 0;
}

.position-footer {
  background-color: var(--table-header-bc);
  height: 30px;
}

.position-footer-number {
  text-align: left;
  padding: 8px;
}

.position-footer-action {
  text-align: center;
}

.position-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.view-mode {
  display: block;
  align-items: center;
  padding: 0 8px !important;
}

.lp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--table-header-bc);
}

.p-inputtext {
  all: unset !important;
  padding: 0 8px !important;
}

.p-inputtext,
.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active {
  background-color: var(--accent-color-lighter) !important;
  width: 100% !important;
  height: 100% !important;
}

.hidden {
  display: none;
}

.form-dirty {
  border: 1px solid var(--error-color) !important;
}

::ng-deep .btn-xl .p-button-icon,
::ng-deep .btn-xl {
  font-size: 2rem !important;
  gap: 14px !important;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  appearance: textfield;
  -moz-appearance: textfield;
}

.read-only {
  cursor: no-drop;
}

.view-mode-image {
  height: var(--row-height) !important;
  width: 100% !important;
  cursor: pointer;
}

.edit-mode-image {
  position: relative;
  height: var(--row-height) !important;
  padding: 0 8px !important;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: start;
  background-color: var(--accent-color-lighter) !important;
}

.p-select {
  all: unset !important;
  position: relative !important;
  padding: 0 4px !important;
  font-size: 1.2rem !important;
  background-color: var(--accent-color-lighter) !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

::ng-deep .p-select-label {
  padding: 4px !important;
}

::ng-deep .p-select-option {
  font-size: 1.2rem;
}

::ng-deep .p-select-option:hover {
  background-color: var(--accent-color-lighter) !important;
}

::ng-deep .p-select-clear-icon {
  margin-right: 10px !important;
  color: var(--accent-color-darker) !important;
  top: 72px !important;
}

::ng-deep .p-select-dropdown .p-iconwrapper {
  color: var(--accent-color-darker) !important;
}

.select-field {
  cursor: pointer;
}

.image-spinner {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: calc(100% - 25px) !important;
  bottom: 0;
  left: 0;
}

.row-pink {
  background-color: var(--status-pink-color) !important;
}

.row-green {
  background-color: var(--status-green-color) !important;
}

.row-red {
  background-color: var(--status-red-color) !important;
}
