<!-- spinner when loading data  -->
<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner [size]="200"></app-loading-spinner>
</div>
<div *ngIf="!isLoading" class="set-container">
  <!-- set header menu -->
  <app-set-menu
    [allSuppliers]="allSuppliers"
    [set]="set"
    [positions]="positions"
    [selectedBookmarks]="selectedBookmarks"
    [isEdited]="setIsDirty"
    [showAllComments]="showAllComments"
    (editStarted)="isEdited(true)"
    (updateBookmarks)="updateBookmarks()"
    (showAllCommentsComponent)="showAllCommentsComponent()"
  />
  <!-- set header  -->
  <div class="set-header-wrapper flex-center" *ngIf="set">
    <div class="set-header-cell">
      <div class="set-header-title">Inwestycja</div>
      <div class="set-header-value">{{ set.name }}</div>
    </div>
    <div class="set-header-cell">
      <div class="set-header-title">Adres inwestycji</div>
      <div class="set-header-value">{{ set.address }}</div>
    </div>
    <div class="set-header-cell">
      <div class="set-header-title">Klient</div>
      <div class="set-header-value">{{ set.fullName }}</div>
    </div>
    <div class="set-header-cell">
      <div class="set-header-title">Status</div>
      <div class="set-header-value">{{ set.status }}</div>
    </div>
    <div class="set-header-cell">
      <div class="set-header-title">Utworzone</div>
      <div class="set-header-value">{{ set.createdAt }}</div>
    </div>
    <div class="set-header-cell">
      <div class="set-header-title">Zaktualizowane</div>
      <div class="set-header-value">{{ set.updatedAt }}</div>
    </div>
  </div>
  <p-tabs [value]="selectedBookmark" scrollable class="bookmarks">
    <div class="save-btn">
      @if (setIsDirty) {
        <p-button
          label="Zapisz"
          icon="pi pi-save"
          size="large"
          styleClass="btn-xl"
          (click)="onSubmit()"
        />
      }
    </div>
    <p-tablist>
      @for (bookmark of set.bookmarks; track bookmark.id) {
        <p-tab
          [value]="bookmark.id"
          (click)="loadContentForBookmark(bookmark.id)"
          >{{ bookmark.name }}</p-tab
        >
      }
    </p-tablist>
    <p-tabpanels>
      @for (bookmark of set.bookmarks; track bookmark.id) {
        <p-tabpanel [value]="bookmark.id">
          <ng-container *ngIf="showAllComments">
            <app-comments-to-set
              [set]="set"
              [positionsWithComments]="positionsWithComments"
            />
          </ng-container>
          <ng-container
            *ngIf="selectedBookmark === bookmark.id && !showAllComments"
          >
            <div
              [ngClass]="{ 'form-dirty': setIsDirty }"
              class="position-container"
            >
              <!-- bookmark = podsumowanie -->
              @if (bookmark.id === 1) {
                <app-summary
                  [set]="set"
                  [positions]="positions"
                  (bookmarkSelected)="loadContentForBookmark($event)"
                />
              } @else {
                <app-positions-table
                  [set]="set"
                  [positionsFromBookmark]="positionsFromBookmark"
                  [selectedBookmark]="selectedBookmark"
                  [allSuppliers]="allSuppliers"
                  (isEdited)="isEdited($event)"
                  (updateSetPositions)="updatePositions()"
                  (updateSetComments)="updateSetComments()"
                />
              }
            </div>
            <app-legend></app-legend>
          </ng-container>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
