td {
  padding: 0 !important;
  height: var(--row-height) !important;
  border: 1px solid rgb(188, 187, 187) !important;
}

th {
  border: 1px solid rgb(188, 187, 187) !important;
}

.set-container {
  width: 1200px;
}

.spinner {
  margin-top: 100px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.set-header {
  font-size: 2.6rem;
  background-color: var(--accent-color-darker);
  color: var(--secondary-color);
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 4px solid rgb(0, 0, 0);
}

.cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

.cell-title {
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
}

.cell-icon {
  color: var(--secondary-color);
}

.cell-icon:hover {
  color: var(--error-color);
}

.cell-value {
  font-size: 2rem;
}

::ng-deep .p-tab {
  font-size: 1.4rem;
  background-color: var(--neutral-color);
}

::ng-deep .p-tab:hover,
::ng-deep .p-tab-active {
  background-color: var(--accent-color-lighter) !important;
}

.position-container {
  margin-top: 10px;
  border: 1px solid rgb(109, 109, 109);
  font-size: 1.2rem;
}

::ng-deep .p-tabpanels {
  padding: 0 !important;
}

::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.position-header {
  background-color: rgb(235, 235, 235);
  height: 50px;
}

.add-position {
  text-align: center;
  padding: 0;
}

.position-footer {
  background-color: rgb(235, 235, 235);
  height: 30px;
}

.position-footer-number {
  text-align: left;
  padding: 8px;
}

.position-footer-action {
  text-align: center;
}

.view-mode {
  display: block;
  align-items: center;
  padding: 0 8px !important;
}

.lp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(235, 235, 235);
}

.p-inputtext {
  all: unset !important;
  padding: 0 8px !important;
}

.p-inputtext,
.p-inputtext:focus,
.p-inputtext:hover,
.p-inputtext:active {
  background-color: var(--accent-color-lighter) !important;
  width: 100% !important;
  height: 100% !important;
}

.hidden {
  display: none;
}

.form-dirty {
  border: 1px solid var(--error-color) !important;
}

i {
  font-size: 2rem;
  margin: 6px;
}

i:hover {
  color: var(--error-color);
}

::ng-deep .btn-xl .p-button-icon,
::ng-deep .btn-xl {
  font-size: 2rem !important;
  gap: 14px !important;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}

.read-only {
  cursor: no-drop;
}

.view-mode-image {
  height: var(--row-height) !important;
  width: 100% !important;
  cursor: pointer;
}

.edit-mode-image {
  position: relative;
  height: var(--row-height) !important;
  padding: 0 8px !important;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: start;
  background-color: var(--accent-color-lighter) !important;
}

.p-select {
  all: unset !important;
  padding: 0 4px !important;
  font-size: 1.2rem !important;
  background-color: var(--accent-color-lighter) !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

::ng-deep .p-select-label {
  padding: 4px;
}

::ng-deep .p-select-option {
  font-size: 1.2rem;
}

::ng-deep .p-select-option:hover {
  background-color: var(--accent-color-lighter) !important;
}

.select-field {
  cursor: pointer;
}

.image-spinner {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: calc(100% - 25px) !important;
  bottom: 0;
  left: 0;
}
