.set-container {
  width: 1200px;
}

.set-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color-darker);
  color: var(--secondary-color);
  width: 100%;
  padding: 20px;
}

.set-header-cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

.set-header-title {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.set-header-value {
  font-size: 2rem;
}

::ng-deep .p-tab {
  font-size: 1.4rem;
  background-color: var(--neutral-color);
}

::ng-deep .p-tab:hover,
::ng-deep .p-tab-active {
  background-color: var(--accent-color-lighter) !important;
}

.position-container {
  margin-top: 10px;
  border: 1px solid var(--neutral-color-darker);
  font-size: 1.2rem;
}

::ng-deep .p-tabpanels {
  padding: 0 !important;
}

/* chyba tez */
::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.form-dirty {
  border: 3px solid var(--error-color) !important;
}

::ng-deep .btn-xl .p-button-icon,
::ng-deep .btn-xl {
  font-size: 2rem !important;
  gap: 14px !important;
}
