.set-container {
  width: var(--screen-width);
  margin: 10px auto;
}

.set-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color-03);
  color: var(--accent-color-18);
  width: 100%;
  padding: 15px;
}

.set-header-cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

.set-header-title {
  font-size: 1.6rem;
  color: var(--accent-color-15);
  height: 30px;
}

.set-header-value {
  font-size: 2rem;
  height: 40px;
}

::ng-deep .p-tab {
  font-size: 1.4rem;
  background-color: var(--neutral-color-01);
}

::ng-deep .p-tab:hover,
::ng-deep .p-tab-active {
  background-color: var(--accent-color-03) !important;
}

.position-container {
  margin-top: 10px;
  border: 1px solid var(--neutral-color-05);
  font-size: 1.2rem;
}

::ng-deep .p-tabpanels {
  padding: 0 !important;
}

::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.form-dirty {
  border: 3px solid var(--error-color) !important;
}

::ng-deep .btn-xl .p-button-icon,
::ng-deep .btn-xl {
  font-size: 1.8rem !important;
  gap: 16px !important;
  background-color: var(--accent-color-10);
  height: 18px;
}

.save-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.bookmarks {
  position: relative;
}

::ng-deep .btn-xl {
  background-color: var(--accent-color-12) !important;
}

::ng-deep .btn-xl:hover {
  background-color: var(--accent-color-14) !important;
}

::ng-deep .btn-xl .p-button-icon {
  background: transparent !important;
}
