@if(isLoading) {
<app-loading-spinner
  *ngIf="isLoading"
  [isLoading]="isLoading"
></app-loading-spinner>
}

<div *ngIf="!isLoading" class="set-container">
  <div class="set-header flex-center" *ngIf="set">
    <div class="cell">
      <div class="cell-title">Zestawienie</div>
      <div class="cell-value">{{ setName }}</div>
    </div>
    <div class="cell">
      <div class="cell-title">Klient</div>
      <div class="cell-value">{{ set.clientId.firma }}</div>
    </div>
    <div class="cell">
      <div class="cell-title">Status</div>
      <div class="cell-value">{{ setStatus }}</div>
    </div>
    <div class="cell">
      <div class="cell-title">Utworzone</div>
      <div class="cell-value">{{ set.createdAt }}</div>
    </div>
    <div class="cell">
      <div class="cell-title">Zaktualizowane</div>
      <div class="cell-value">{{ set.updatedAt }}</div>
    </div>
    <div class="cell">
      <div class="cell-icon">
        <i
          class="pi pi-pencil"
          style="font-size: 2.5rem"
          (click)="editHeader()"
          alt="Edytuj nagłowek zestawienia"
          title="Edytuj nagłowek zestawienia"
        ></i>
      </div>
      <div class="cell-icon">
        <i
          class="pi pi-share-alt"
          style="font-size: 2.5rem"
          (click)="shareSet()"
          alt="Udostępnij"
          title="Udostępnij"
        ></i>
      </div>
    </div>
  </div>

  <p-tabs [value]="selectedBookmark" scrollable>
    <p-tablist>
      @for (bookmark of set.bookmarks; track bookmark.id) {
      <p-tab [value]="bookmark.id" (click)="loadContent(bookmark.id)">{{
        bookmark.name
      }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      @for (bookmark of set.bookmarks; track bookmark.id) {
      <p-tabpanel [value]="bookmark.id">
        <div [ngClass]="{ 'form-dirty': isEdited }" class="position-container">
          <p-table
            pEditableTable
            stripedRows
            dataKey="id"
            editable="true"
            columnResizeMode="expand"
            class="p-datatable-gridlines"
            [resizableColumns]="true"
            [scrollable]="true"
            [value]="formData"
            (onColResize)="onColResize($event)"
            [tableStyle]="{ 'min-width': '50rem', 'table-layout': 'fixed' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 4rem" class="position-header">
                  <div class="flex-center">
                    <i class="pi pi-sort" alt="Sortuj" title="Sortuj"></i>
                  </div>
                </th>
                <th style="width: 8rem" class="position-header"></th>
                <th
                  *ngFor="let column of columnList"
                  class="position-header"
                  [ngClass]="column.classTh"
                  pResizableColumn
                  [ngStyle]="{ width: column?.width + 'px' }"
                >
                  {{ column.name }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-position
              let-editing="editing"
              let-i="rowIndex"
            >
              <tr>
                <td>
                  <div class="lp">
                    {{ i + 1 }}
                  </div>
                </td>
                <td>
                  <div class="flex-center">
                    <p-button
                      severity="info"
                      icon="pi pi-clone"
                      class="p-4"
                      alt="Klonuj pozycję"
                      title="Klonuj pozycję"
                    />
                    <p-button
                      alt="Usuń pozycję"
                      title="Usuń pozycję"
                      severity="danger"
                      icon="pi pi-trash"
                      class="p-4"
                    />
                  </div>
                </td>
                <td
                  *ngFor="let column of columnList"
                  pEditableColumn
                  [pEditableColumnField]="column.key"
                  [ngClass]="column.classTd"
                  [ngStyle]="{ width: column?.width + 'px' }"
                >
                  <p-cellEditor>
                    <ng-template pTemplate="input" [ngSwitch]="column.type">
                      <ng-container *ngIf="!column.readOnly">
                        <input
                          *ngSwitchCase="'number'"
                          pInputText
                          type="number"
                          class="no-arrows"
                          [readonly]="column.readOnly"
                          [(ngModel)]="formData[i][column.key]"
                          (blur)="applyAction($event, i, column)"
                          (keydown.enter)="applyAction($event, i, column)"
                          (focus)="selectAll($event)"
                        />
                        <input
                          *ngSwitchDefault
                          pInputText
                          type="text"
                          [(ngModel)]="formData[i][column.key]"
                          (blur)="applyAction($event, i, column)"
                          (keydown.enter)="applyAction($event, i, column)"
                          (focus)="selectAll($event)"
                        />
                      </ng-container>
                      <!-- if field read only, wneh edited show viewMode -->
                      <ng-container *ngIf="column.readOnly">
                        <span class="viewMode">
                          @if(column.type === 'number') {
                          {{ formData[i][column.key] | number : "1.2-2" }}
                          } @else {
                          {{ formData[i][column.key] }}
                          }
                        </span>
                      </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                      <span class="viewMode">
                        @if(column.type === 'number') {
                        {{ formData[i][column.key] | number : "1.2-2" }}
                        } @else {
                        {{ formData[i][column.key] }}
                        }
                      </span>
                    </ng-template>
                  </p-cellEditor>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <th
                  *ngFor="let column of footerRow; let i = index"
                  class="position-footer"
                  [innerHTML]="
                    column.unit
                      ? column.value + ' ' + column.unit
                      : column.value
                  "
                  [ngClass]="column.class"
                ></th>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
  <div class="m-10 flex-center">
    @if(isEdited) {
    <p-button
      label="Zapisz"
      icon="pi pi-save"
      size="large"
      styleClass="btn-xl"
      (click)="onSubmit()"
    />
    }
  </div>
</div>
<p-toast />

<p-dialog
  [(visible)]="editHeaderDialog"
  [style]="{ width: '650px' }"
  header="Edytuj zestawienie"
  [modal]="true"
>
  <ng-template #content>
    <app-edit-header
      [editHeader]="editHeaderProps"
      (dataChanged)="onDataChange($event)"
      (closeModal)="hideDialog()"
    />
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '750px' }" />
