.input-container {
  width: 100% !important;
  height: var(--row-height) !important;
}

.pasting-image-input-wrapper {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.pasting-image-input-field {
  all: unset !important;
  width: 100% !important;
  height: 25px !important;
  text-align: center !important;
}

.image-preview-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-preview {
  max-width: 100%;
  object-fit: contain !important;
  max-height: calc(var(--row-height) - 25px);
}

.default-image {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
}

.default-image i {
  font-size: 90px;
  color: var(--neutral-color-05);
}

.image-overlay {
  filter: blur(2px);
}
