.input-container {
  width: 100% !important;
  height: 100% !important;
}

.input-field {
  all: unset !important;
  width: 100% !important;
  height: 25px !important;
}

.image-preview-container {
  text-align: center;
}

.image-preview {
  max-width: 100%;
  object-fit: contain !important;
  max-height: calc(var(--row-height) - 25px);
}

.default-image {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 125px !important;
}

.default-image i {
  font-size: 70px;
  color: var(--neutral-color-darker);
}

.image-overlay {
  filter: blur(2px);
}
