<div class="input-container">
  <input
    type="text"
    placeholder="Wklej obraz ze schowka..."
    (paste)="onPaste($event)"
    class="input-field"
    (blur)="blur.emit($event)"
  />
  @if(imagePreview) {
  <div class="image-preview-container">
    <img
      [src]="imagePreview"
      alt="Image Preview"
      class="image-preview"
      [ngClass]="{ 'image-overlay': onPasting }"
    />
  </div>
  } @else {
  <div class="default-image">
    <i class="pi pi-image"></i>
  </div>
  }
</div>
