.wrapper {
  width: 600px;
}

.lp {
  text-align: center;
}

.background {
  font-weight: 700;
  background-color: var(--table-header-bc);
}

.legend-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.legend {
  margin-left: 10px;
  margin-top: 50px;
}

.legend-row {
  font-size: 16px;
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
